[2015-10-19 16:54] AydinHassan opened #2 "Setup CI"

[2015-10-19 16:55] AydinHassan commented on #2
maybe write some tests also, woooo

[2015-10-19 17:06] AydinHassan opened #3 "PHP requirement"
we should put 5.6 in the composer.json. It would have probably been quicker to just do this and not create an issue. oh well.

[2015-10-19 17:34] mikeymike opened #4 "Output written after close is cleaned by menu close ¯\_(ツ)_/¯"
Noticed in the workshop. Access the options and then go back and select an exercise and the output is wiped even though `menu->close()` is called prior to the output being written.

Really crazy weird bug.

[2015-10-19 17:35] mikeymike opened #5 "Don't output ascii art if it doesn't fit"
Check the longest ascii art line against the width of the terminal and prevent output if too large.

[2015-10-19 17:35] mikeymike opened #6 "Windows..."

[2015-10-19 21:44] #4 closed

[2015-10-20 08:14] mikeymike opened #7 "Add logo"
![cli-menu](https://cloud.githubusercontent.com/assets/2174476/10601666/071e3e24-770b-11e5-9cba-8ae6402ff550.gif)

[2015-10-20 08:18] #7 closed

[2015-10-20 08:24] mikeymike opened #8 "CI"
And badges

[2015-10-20 11:40] #8 closed

[2015-10-20 11:41] mikeymike commented on #8
Dupe of #2 :see_no_evil:

[2015-10-20 22:24] #2 closed

[2015-10-21 08:20] mikeymike opened #10 "Tests"
Shouldn't be too difficult :smile:

[2015-10-21 08:22] mikeymike opened #11 "Screenshot on the README"
![screen shot 2015-10-21 at 09 21 14](https://cloud.githubusercontent.com/assets/2174476/10631326/40f92a80-77d5-11e5-8fac-cf9dcf4582a3.png)

[2015-10-21 08:27] #11 closed

[2015-11-21 23:58] AydinHassan opened #12 "Don't clear terminal until opening"
Is this possible?

Currently the terminal is cleared via some method in the `CliMenu` `__construct`

This messes with the unit tests in the workshop as I'm testing the factory which creates the menus, it clears all the text output from PHPUnit

[2015-11-25 21:23] mikeymike opened #13 "Better Example Screenshot"
<img width="612" alt="screen shot 2015-11-25 at 21 21 05" src="https://cloud.githubusercontent.com/assets/2174476/11409864/be082444-93ba-11e5-84ab-1b6cfa38aef8.png">

[2015-11-25 22:08] wolfy-j commented on #6
What about supporting https://en.wikipedia.org/wiki/ConEmu (Win)? So far it works perfectly with Symfony Console, colorization and etc. I don't think there is any good chance to support native windows shell soon.

[2015-11-25 22:24] mikeymike commented on #6
Your right, we don't expect Windows to come out with full support for the standard escape sequences. But @AydinHassan has made some amazing progress getting [Ansicon](https://github.com/adoxa/ansicon) bundled and we will be potentially looking to breakout our own Colour lib at some point so not only will it work in all these components but others can benefit too :smile:

Also unfortunately we're l

[2015-11-25 22:25] #13 closed

[2015-11-25 22:28] mikeymike commented on #12
I don't see why not. Tbh it would make a lot more sense as you may not want to show the menu until later in the application so clearing the screen maybe unwanted behaviour anyway

[2015-11-26 09:07] #3 closed

[2015-11-27 04:20] petehouston commented on #10
@mikey is it under progress?

[2015-11-27 10:02] AydinHassan commented on #10
Hi @petehouston. They are currently not under development. I am going to write some more documentation first and then probably have a pass at the tests, but it probably wont't be in the next week.

[2015-11-27 13:44] AydinHassan opened #17 "Images"
<img width="675" alt="basic" src="https://cloud.githubusercontent.com/assets/2817002/11442386/cb0e41a2-950c-11e5-8dd6-913aeab1632a.png">
<img width="766" alt="basic-seperation" src="https://cloud.githubusercontent.com/assets/2817002/11442388/cdece950-950c-11e5-8128-4f849a1aea9f.png">
<img width="759" alt="crazy-seperation" src="https://cloud.githubusercontent.com/assets/2817002/11442389/d04627fc-9

[2015-11-27 13:44] AydinHassan commented on #17
I'm just using this to upload images :)

[2015-11-27 14:03] #17 closed

[2015-11-27 18:12] petehouston commented on #10
@AydinHassan thanks for your info.

[2015-11-27 20:00] #12 closed

[2015-12-20 23:03] AydinHassan opened #28 "Disable appveyor"
yo @mikeymike can you disable appveyor for PR's? I think you signed up with your GitHub so I don't have access. It's pretty annoying on PR's as they never pass anyway until we support Windows  :smile:

[2015-12-20 23:28] mikeymike commented on #28
No problem, I've set it to build tags only. Hopefully that will do the
trick 😎
On 20 Dec 2015 11:03 p.m., "Aydin Hassan" <notifications@github.com> wrote:

[2015-12-21 08:07] AydinHassan commented on #28
Nice one :smile:

[2015-12-21 08:07] #28 closed

[2015-12-27 21:21] triplekdev opened #30 "Possibilities"
Hey, this is cool start.. but, any plans to just convert or create new library when Forms: Input, Combo Box, Check Box? hehe! just saying.. this is a great installer and a CLI app to begin with.

[2015-12-27 22:00] AydinHassan commented on #30
We don't really have plans for that. I think other libraries have that covered and we want to keep this small and simple. If you have any more specific ideas or plans then feel free to jump on slack or open an issue/pr but I'm going to close this for now.

[2015-12-27 22:00] #30 closed

[2016-02-18 21:49] mikeymike opened #31 "Elementary OS and Fish shell"
https://github.com/php-school/learn-you-php/issues/54

Using this configuration results in not being able to navigate the menu.

[2016-02-18 21:52] mikeymike opened #32 "Require POSIX"
We should clean up the terminal classes to a single class and require POSIX functions.

I can't see a feasible method of us getting the Windows terminal class working without extra php  extensions. @AydinHassan what do you think?

[2016-02-19 13:24] twoSeats commented on #31
updated info: https://github.com/php-school/learn-you-php/issues/54#issuecomment-186210575

[2016-02-19 13:26] mikeymike commented on #31
Closing for now, unless this comes up again 🙂

[2016-02-19 13:26] #31 closed

[2016-02-19 15:54] AydinHassan commented on #32
sounds good to me :+1:

[2016-03-16 12:44] PhillippOhlandt opened #33 "Usage with symfony/console"
Hey,

most people use symfony/console for their cli applications.

There you create a new ChoiceQuestion with all the answers and get the answer back as variable. This way you can continue with your script.

This package needs a callback function when an answer is selected. That means you break out of your current function. That makes it really difficult to integrate into symfony/console applicati

[2016-03-16 16:01] AydinHassan commented on #33
@PhillippOhlandt

Maybe something like this:

[code]

[2016-03-16 16:33] PhillippOhlandt commented on #33
This is an option but doesn't scale well with multiple questions per command.

[2016-03-16 16:39] PhillippOhlandt commented on #33
Wait, I think I misunderstood. That could work, will try later. A build in way to do that would be cool though.

[2016-03-16 18:58] AydinHassan commented on #33
@PhillippOhlandt I will quite happily add this to the project if it works good, just wanted to gauge if this would solve the problem :smile:

[2016-03-16 18:59] AydinHassan commented on #33
Maybe you could describe in code how it would work if this doesn't seem like a good solution?

[2016-03-16 22:10] PhillippOhlandt commented on #33
Haven't tested your idea of that class yet but it seems easier to integrate than my example above with the added `->inline()` that will prevent calling a callback and let you get the answer directly from the menu object later.

[2016-03-16 22:14] PhillippOhlandt commented on #33
And as we already talk here, you always return the text of the answer with `$menu->getSelectedItem()->getText();`. Is it possible to set a unique key (array key for example) for each answer? (Had no time to play with this lib yet)

[2016-03-17 09:06] PhillippOhlandt opened #34 "Add ability to use own Item classes"
Hey,

I created my own Menu Item class in order to have key/values for my options. But I can't add it to the menu because the `addMenuItem` method is private.

I also can't extend the `CliMenuBuilder` class to add my own method that adds my Items because the `$menuItems` property is private too.

Would be cool if the `addMenuItem` method would be public or the `$menuItems` property protected.

Is

[2016-03-17 09:17] AydinHassan commented on #34
My initial reaction is that it seems pretty strange that `addMenuItem` is private, so I'd say it's okay to make it public. @mikeymike do you remember the reason why it's not or was it just an oversight?

[2016-03-17 09:26] PhillippOhlandt commented on #33
Ok, I think I can close this here. A slightly different version of your example above worked great. If #34 could be solved, all my problems are gone :)

[2016-03-17 09:28] AydinHassan commented on #33
@PhillippOhlandt Is it worth PR'ing here? Could be useful for others integrating with `symfony/console` ?

[2016-03-17 10:07] PhillippOhlandt commented on #33
Yeah, tell me your preferred class name (because `OptionChooser` is a little unspecific) and I'll PR it after #34 is solved and I made it a bit more extendable.

[2016-03-17 10:10] PhillippOhlandt opened #35 "Option to not clear the terminal window"
Hey,

right now when you open a menu, the window will get cleared and shows only the menu. That's ok for me and I can work with that but I prefer to not clear the window.

An option on the menu builder to turn it off would be nice.

[2016-03-17 12:50] mikeymike commented on #34
Yeah complete oversight ... I think we built this with the intention of each menu item type having its own method to add them, obviously this prevents custom menu items

I'm think we should have this public ... From a brief look I can't see any reason why not anyway 👍

[2016-03-17 13:20] #34 closed

[2016-03-17 13:20] AydinHassan commented on #34
@PhillippOhlandt fixed in #36

[2016-03-17 13:29] mikeymike commented on #35
hey @PhillippOhlandt thanks for the feedback, I think this would be very difficult to implement as each movement has to redraw the menu. We'd have to somehow keep track of which point of the screen needs to be redrawn rather than redrawing everything which I can only imagine will be pretty difficult.

I can take a look into this a bit more over the weekend, but I suspect it would be a lot of chang

[2016-03-17 14:03] PhillippOhlandt commented on #35
It's ok when it's too much work. It's just a nice to have feature. I work with symfony/console and have some realtime data in an ascii table which will be redrawn every second. There I just have to know how many lines my table has, so I can reset the cursor.

For example, when I reset the cursor for 5 lines to redraw the table:
[code]

Not sure if yours work the same way.

[2016-03-17 14:05] PhillippOhlandt commented on #34
Awesome :)

[2016-03-17 14:28] mikeymike commented on #35
@PhillippOhlandt good idea!, we'd need to figure out how many lines the menu is taking up if we took that approach. Would probably be a lot easier than what I mentioned before though

[2016-03-17 16:47] AydinHassan commented on #33
@PhillippOhlandt maybe `OptionPrompt` ?

[2016-03-17 17:09] PhillippOhlandt commented on #35
You can also save the current cursor position and get back to it after. Here is some example code:
[code]

Problem is, that (at least with text) the text won't be deleted. The result is:
![](https://infinit.io/_/3fCPsSZ.png)

I'll try to find a solution.

[2016-03-17 17:27] PhillippOhlandt commented on #35
Found it!

`$output->write("\033[J");` clears everything after the cursor until the end of screen.

[2016-03-18 08:44] mikeymike commented on #35
@PhillippOhlandt that looks really promising nice work man!

Do you want to try and write a PR for this ? I can take a look at doing it over the weekend but I'd love for you to get a contribution on the board, you have pretty much found the solution after all :smile:

[2016-03-18 08:55] PhillippOhlandt commented on #35
I can try to get it running locally, but I can't promise it :D

[2016-03-18 09:09] PhillippOhlandt commented on #35
Ok, the code to render that thing is a bit more complicated than I thought :D I have no problem if you want to do that, you know the codebase much better than me :)

[2016-03-18 09:10] mikeymike commented on #35
No worries, I'll take a look at the weekend hopefully have PR up soon 👍😎
On 18 Mar 2016 9:09 a.m., "Phillipp Ohlandt" <notifications@github.com>
wrote:

[2016-03-22 19:51] mikeymike commented on #35
@PhillippOhlandt I've got this working on a [new branch ](https://github.com/php-school/cli-menu/tree/feature/no-clear-option) ... Noticed that this doesn't seem to work on Windows though using ConEmu + Cygwin :disappointed:

I'm going to continue looking into it but thought I'd give you an update on progress :+1:

[2016-03-23 21:31] PhillippOhlandt commented on #35
@mikeymike yeah I saw the branch already. Will try it tomorrow. :)

[2016-03-25 04:02] PhillippOhlandt commented on #35
Hey, I just tested that. Works great! Do you know if it's possible to remove the menu after an option was selected?

[2016-03-25 09:01] mikeymike commented on #35
Awesome! :+1:

This would be handled within the callback used on the items. Take a quick look at @AydinHassan's [example](https://github.com/php-school/cli-menu/issues/33) and you'll notice he put the `$menu->close()` in the callable.

[2016-03-25 09:02] mikeymike commented on #33
@PhillippOhlandt Did you manage to get a class written up ?

I'm going to re-open this because we'd really like to get a wrapper class in the repo for easier use with Symfony etc.

[2016-03-25 10:05] PhillippOhlandt commented on #33
@mikeymike for myself I use one but its not that flexible. The main problem I have is that I want to pass in all menu options (items, line breaks, etc) but then I have a problem with defining the callback on the items.

This is my current one that uses my `KeyValueItem` class:

[code]

[2016-03-25 10:08] PhillippOhlandt commented on #35
@mikeymike I do the same:

[code]

[2016-03-25 12:27] PhillippOhlandt commented on #33
Good news, I have found a way that could work!

Here is the class itself

[code]

And that's how you can use it:

[code]

That works really well for me. How do you guys think about that?

[2016-03-25 20:34] PhillippOhlandt commented on #35
I also found a bug. The menu will be redrawn when you are at the bottom of the console. See:
http://recordit.co/flHcbf7Uv4

[2016-03-28 19:03] mikeymike commented on #35
@PhillippOhlandt nice spot, I'm not sure how we're going to resolve that issue, I can imagine it also causes issues when the user scrolls the terminal windows slightly ?

I've been ill the past couple days so not had chance to look at this properly. Thanks for the feedback though 👍

[2016-03-28 19:05] mikeymike commented on #33
Hey @PhillippOhlandt looks good for a proof of concept. Only thing I'd really look to change is to have the menu created inside the class. What do you think?

[2016-03-28 19:11] PhillippOhlandt commented on #33
@mikeymike creating the menu inside the class is bad because you can't define it like you need to. The class should only have one purpose: to make it possible to use the menu without callbacks.
And my example does that pretty well.

[2016-03-28 19:13] PhillippOhlandt commented on #35
No problem :)

[2016-10-05 21:35] #10 closed

[2016-10-05 21:36] AydinHassan opened #47 "Improve test coverage of CliMenu"
It is actually fairly easy to test the menu by capturing STDOUT with PHPUnit. It would be good to properly test the drawing.

For example: https://github.com/php-school/cli-menu/blob/master/test/CliMenuTest.php#L65

[2016-10-18 13:46] Hywan opened #48 "What about Hoa\Console"
Hello :-),

I wonder if you have ever considered using [the `Hoa\Console` library](https://github.com/hoaproject/Console), especially for the `Cursor`, `Window` and `Readline` feature?

You will gain more statibility on more terminals since it is based on tput.

You might be interested by this blog post to understand what I am talking about, https://mnt.io/P/2015-01-04_Control_the_terminal_the_rig

[2016-10-23 20:39] AydinHassan commented on #48
Hi, thanks for the heads up, it sounds interesting. Probably would be a lot of work so I don't think it will happen soon, but it would be nice to depend on this more stable code and remove some of our own.

[2016-10-24 08:17] Hywan commented on #48
If you are interesting, we can help you probably. Just ping us 😄.

[2016-10-27 18:25] #32 closed

[2016-10-27 18:25] #6 closed

[2016-10-27 18:50] sergiokessler opened #51 "I get "not a valid TTY""
PHP Fatal error:  Uncaught PhpSchool\CliMenu\Exception\InvalidTerminalException: Terminal "" is not a valid TTY
on windows 10 cmd  :-)

[2016-10-27 18:55] AydinHassan commented on #51
Hi - unfortunately we have dropped support for windows. It is just missing features that we need. I thought it might work on Windows 10, but obviously not. Not of the maintainers have windows machines so unless some one can help out this probably isn't going to work on Windows for a while.

I have just recently pushed up a commit which requires ext-posix so installations should be blocked on windo

[2016-10-27 18:55] #51 closed

[2016-10-27 19:21] AydinHassan commented on #17
<img width="724" alt="screen shot 2016-10-27 at 20 19 07" src="https://cloud.githubusercontent.com/assets/2817002/19781788/f271c09c-9c82-11e6-87c3-167fd191c705.png">

<img width="675" alt="screen shot 2016-10-27 at 20 19 43" src="https://cloud.githubusercontent.com/assets/2817002/19781794/fb8b58c8-9c82-11e6-97ac-8e2eb21e9f7c.png">

[2016-10-27 19:23] AydinHassan commented on #17
<img width="710" alt="screen shot 2016-10-27 at 20 22 53" src="https://cloud.githubusercontent.com/assets/2817002/19781824/2a006fc2-9c83-11e6-8cb4-852a570c46e4.png">

[2016-10-27 21:24] AydinHassan commented on #17
<img width="689" alt="screen shot 2016-10-27 at 22 23 23" src="https://cloud.githubusercontent.com/assets/2817002/19786090/1f07dad6-9c94-11e6-91b0-c20ab2e6e27d.png">
<img width="689" alt="screen shot 2016-10-27 at 22 24 01" src="https://cloud.githubusercontent.com/assets/2817002/19786092/215d2dc2-9c94-11e6-910d-191b7b74f4d2.png">

[2016-10-28 07:52] djmattyg007 commented on #33
I'd much prefer to have native support within the library for calling a menu and getting the key of the value selected as the result of the call to displaying the menu, even if it's handled with a wrapper class (like @PhillippOhlandt showed) under the hood.

[2016-10-28 08:34] AydinHassan commented on #33
@djmattyg007 were more than happy to accept solutions for that - we use this standalone though so it would be better if someone with knowledge of symfony/console chimed in :)

[2016-11-04 07:40] mikeymike opened #57 "Consistant API documentation in README"
As @bmitch pointed out in #55 it does seem a little inconsistent between when we're showing a full example and a snippet of code.

Maybe this is just a case of adding something like `... snip` to the smaller API examples to make it more clear.

@AydinHassan thoughts?

[2016-11-04 20:05] xduh opened #58 "Prompt Dialogue"
Hi.

I wonder if was good feature, having a prompt dialogue box to get data from user. What you think?

[2016-11-04 20:08] AydinHassan commented on #58
Sounds cool to me! are you thinking of taking a crack at it?

[2016-11-04 20:17] xduh commented on #58
Absolutely

[2016-11-11 10:38] supertorti opened #60 "Use cli-menu via ssh on a Debian 7 server"
Hi,

im trying to use the cli-menu on a Debian 7 Server with PHP 5.6  via ssh.

Script works perfectly on my local mac, but when im trying to start the menu script from remote server, there comes just nothing. Not a even an error or something.

Any idea about that?

Greetings from germany

[2016-11-11 10:46] AydinHassan commented on #60
Hi,

That's very strange - could you maybe post a screenshot or something? Or maybe if you could re-produce with in a VM so we could debug?

Also - how is your error reporting on the server? Does it have the posix extension installed?

[2016-11-11 10:47] mikeymike commented on #60
hey @supertorti can you check to see if error reporting is enabled on the PHP configuration file, also it might be being output to a log file which would be specified in the configuration file as well.

You can run `php --ini` to find the loaded configuration file 👍

[2016-11-11 12:07] supertorti commented on #60
Hi and thanks for your fast response!

1. Is Posix extension installed? -> Yes
2. Error are shown and logged -> Yes (I provoke a few to test it)

But still no errors..!? Is there a debug modus or something, to get a little information?

[2016-11-11 12:21] supertorti commented on #60
Ok, the problem is definitely in my script. When i use your example, it works like a charm!

Thanks verry much for your help!

[2016-11-11 12:22] #60 closed

[2016-11-11 12:26] AydinHassan commented on #60
No problem - glad it sort of works :D

[2016-11-20 10:23] AydinHassan commented on #58
Let us know if youmaking any progress here 😀 Closing the issue for now.

[2016-11-20 10:23] #58 closed

[2017-03-01 22:07] mikeymike commented on #5
Resolved by #63 and in tag 2.0.2 ... thanks @robertboloc 😄

[2017-03-01 22:07] #5 closed

[2017-03-30 20:38] cinamo commented on #33
@PhillippOhlandt Just published a small handler that directly interfaces with the Symfony Console, similar to the built-in console helpers. See https://github.com/RedAntNL/console. Care to let me know what you think of that solution?

Thanks so much @AydinHassan @mikeymike for your work on this cool library!

[2017-03-30 20:45] PhillippOhlandt commented on #33
@cinamo that looks really nice!

[2017-03-31 07:50] AydinHassan commented on #33
@cinamo looks great ! - nice work! - I will add to the readme soon :)

[2017-11-13 23:57] polothy opened #66 "Error with toggling item extra"
Use case: I was writing up a menu where I want the user to select multiple menu items.  I was using the ExtraItem to indicate which menu items were selected.

Here is an example to reproduce the problem:
[code]

The primary take aways in the above example are:
* Initially, every item has ItemExtra `false`
* In item callback, we call `showItemExtra` and do a redraw.

The result is a PHP warning: `W

[2017-11-14 07:33] mikeymike commented on #66
hey thanks for the detailed report 😄 I'll take a look at this asap (probably on my lunch break today 👍 )

[2017-11-15 13:08] mikeymike commented on #66
hey @mrmark narrowed this down a little more but not got a solution atm. Essentially we're building the MenuStyle with the item extra as not being displayed. This is then used in `\PhpSchool\CliMenu\MenuItem\SelectableTrait::getRows` when calculating the content width. Because the MenuStyle isn't being updated to say we're now displaying the item extra it's incorrectly calculating the content widt

[2017-11-16 07:25] mikeymike commented on #66
@mrmark a quick way to get this working would be to add `$menu->getStyle()->setDisplaysExtra(true);` in the callable when you toggle a row to show.

I don't think this is the right solution and the real fix would be to have the logic for checking if the item extra is shown being taken from the row itself rather than the MenuStyle.

[2017-11-16 16:03] mrmark commented on #66
That's fine by me, thanks.  No need to rush a fix, guessing this doesn't happen very much in practice.  I also had another workaround in place that works as well, though yours sounds much better.

[2018-02-05 02:58] mikeerickson opened #69 "How to use terminal background"
I can see how it is possible to set the menu background color, however, I am trying to have it use the current terminal background color (see screenshot)

﻿
![image](https://user-images.githubusercontent.com/183153/35786617-521f575c-09dd-11e8-8264-bf9e3459c3e5.png)

[2018-02-05 08:04] mikeymike commented on #69
hey @mikeerickson to achieve this you'll likely need to set the background as black.

Terminals can alter the actual colour scheme so black = dark blue, generally this is something you change in the terminal app settings. Hope that helps 👍

[2018-02-05 15:53] mikeerickson commented on #69
This doesnt really get what I am looking for, and further, seems kind of odd that a background color would be required at all? I have plenty of CLI tools (written in python, javascript, etc) and dont have the same limitation?

For example:

![image](https://user-images.githubusercontent.com/183153/35813909-a66e6ce6-0a49-11e8-9053-292688a2a4d9.png)

[2018-02-05 21:19] mikeymike commented on #69
looking back through the code you'd be able to achieve it using the color code `default` ... do bear in mind though it's specific use case isn't as light weight as the above screenshot 😄

[2018-02-06 00:22] mikeerickson commented on #69
Thanks, I will give it a whirl and see how it comes out.

[2018-02-08 18:08] mikeerickson opened #70 "Add `separator` line support in options"
Please see extended description here where it was first discovered

https://github.com/nunomaduro/laravel-console-menu/issues/7

[2018-02-08 18:09] mikeerickson opened #71 "If option item text is greater than width, it has syntax error"
Please see extended description here where it was first discovered

https://github.com/nunomaduro/laravel-console-menu/issues/8

[2018-02-08 18:11] mikeerickson opened #72 "Contribution Offer"
If you are keen to accept contribution PRs, I would be happy to provide fixes for the two items I reported to get started

Add `separator` line support in options - https://github.com/php-school/cli-menu/issues/70
If option item text is greater than width, it has syntax error - https://github.com/php-school/cli-menu/issues/71

[2018-02-09 16:33] AydinHassan commented on #70
Hi - I'm not sure there is anything to solve here in this repository - this seems to be due to the way items are added to the menu in the Laravel wrapper.

The API to add an item and a line break is:

[code]

[2018-02-09 16:36] AydinHassan commented on #71
This definitely looks like something we should fix 😄

[2018-02-09 16:37] AydinHassan commented on #72
Please feel free 😄 - try to add tests where you can, and do ask if there is anything you need help with!

[2018-02-09 21:55] mikeerickson commented on #70
OK, as mentioned, I have opened a ticket there as well. I will have a closer look

[2018-02-09 21:55] mikeerickson commented on #71
Alrighty, I will get a PR submitted :)

[2018-02-12 11:04] M0S4YSH3LL0 commented on #58
Any progress yet?

[2018-02-13 19:02] #72 closed

[2018-02-13 19:03] #70 closed

[2018-02-26 22:01] JohnatanT opened #75 "ERRO INSTALlATION"
Problem 1
    - Installation request for php-school/cli-menu ^2.1 -> satisfiable by php-school/cli-menu[2.1.0].
    - php-school/cli-menu 2.1.0 requires ext-posix * -> the requested PHP extension posix is missing from your system.

  To enable extensions, verify that they are enabled in your .ini files:
    - C:\xampp\php\php.ini
  You can also run `php --ini` inside terminal to see which files ar

[2018-02-26 23:06] mikeerickson commented on #75
@JohnatanT Have you enabled `posix` on your system as per the recommendation

[2018-02-27 09:36] AydinHassan commented on #75
Hi @JohnatanT - @mikeerickson is correct. `cli-menu` needs `ext-posix` to function. It looks like you are running Windows where `ext-posix` is not available and therefore will not work. You can either run via `docker` or via a combination of Cygwin + ConEmu.

[2018-02-27 13:25] JohnatanT commented on #75
Thanks, would it work using Vagrant?

[2018-02-27 13:28] AydinHassan commented on #75
Yeah but you still need to use ConEmu I think due to the way Windows and ANSI escape sequences work (or don't)  @mikeymike correct me if I'm wrong please :)

[2018-02-27 13:37] mikeymike commented on #75
IIRC ConEmu will essentially correctly output all ANSI escape sequences where the default Windows Command Line doesn't. Details on ANSI codes with ConEmu can be [found here...](https://conemu.github.io/en/AnsiEscapeCodes.html)

[2018-02-27 13:40] JohnatanT commented on #75
Thank you all for your help
😄

[2018-02-27 13:47] AydinHassan commented on #75
@JohnatanT you are welcome! I will close this now but feel free to reopen or create a new issue if you have any problems.

[2018-02-27 13:47] #75 closed

[2018-03-29 09:32] DDKaka opened #76 "Calendar"
Would be great to add calendar out of the box

[2018-03-29 10:07] AydinHassan commented on #76
Hi @DDKaka - how would that look and behave? Feel free to send a PR but we are not not actively developing on this library so it probably won't happen from our side, therefore I am closing this.

Please don't feel discouraged to work on it yourself though!

[2018-03-29 10:07] #76 closed

[2018-05-02 01:20] Lynesth opened #90 "No cursor in terminal when exiting"
So I made #89 but it doesn't work as intended.

I think it's the restoreOriginalConfiguration which doesn't work in my case.
Adding enableCursor and enableEchoBack after the stty exec call in restoreOriginalConfiguration (inside php-school/terminal/UnixTerminal.php) makes it work.

(I need to add both, because just adding enableCursor gives the cursor back but removes the echo !!!)

Not sure if re

[2018-05-02 07:32] Lynesth opened #91 "Need some consistent way to select menu items"
We currently have `$CliMenu->getItems()` which returns items indexed by position.
So let's say I need the 4th item in the menu, I need to use `$CliMenu->getItems()[3]`.

This isn't a nice way of doing it... If I add new items before it, I need to change that line and it gets even worst if I have some AsciiArt above it because depending on the size, it's not even included in the items (if the art i

[2018-05-02 07:46] AydinHassan commented on #90
Yeah I've noticed this also - I'm going to take a closer look, because the restore should work. It just takes a snapshot of the current config and applies that back, we must be doing something weird somewhere.

[2018-05-02 08:01] AydinHassan commented on #91
Not sure I'm following here - do you have an example maybe?

[2018-05-02 08:30] Lynesth commented on #91
Yes of course! Here is a simple one:

[code]

There currently is no other way to select a specific item in a menu than using `getItems()`.
But now let's say the terminal width is smaller than the AsciiArt that is at the top of my menu.
It won't be included in the menu's items, won't be printed, and so all indexes are now messed up.
Same thing if I add some item at the top for example or whatever.

[2018-05-02 08:34] Lynesth commented on #90
I checked directly in the terminal, echoing `\033[25l` or executing `tput civis` doesn't change the output of `stty -g`.

[2018-05-02 09:26] AydinHassan commented on #91
@Lynesth maybe `addAsciiArt` should just throw an exception if the window is too small?

[2018-05-02 09:32] AydinHassan commented on #90
ah yeah, so we definitely need to enable the cursor in `tearDownTerminal` but echo back should be handled by the stty restore. Maybe something weird is going on with the  `exec` call. Looks like we are using the return value which is only the last line of input.

[2018-05-02 09:52] Lynesth commented on #90
The echo back is correctly handled yes, nevermind that I don't know what went wrong.
Reenabling the cursor in restoreOriginalConfiguration does the trick (not in tearDownTerminal or it wouldn't be restored on terminal __destruct).

[2018-05-02 10:00] Lynesth commented on #91
I find the fact that it isn't printed when window is too small to be a nice feature. Ascii arts usually aren't that important but may take a lot of space.

I guess one quick way to fix this would be to add a `LineBreakItem` instead of an `AsciiArt` is too big but it wouldn't solve adding the art via `addMenuItem` instead of `addAsciiArt`.

Moreover, if I end up adding new items in the menu (using

[2018-05-02 11:27] Lynesth commented on #91
This "issue" is not going to be fixed. You can try to circle around it by first creating Items and then adding them to the menu so that you can refer to them anytime.

Closing this.

[2018-05-02 11:27] #91 closed

[2018-05-02 12:32] AydinHassan opened #95 "Update changelog"

[2018-05-02 12:33] AydinHassan opened #96 "Tag version of terminal and pull that in instead of dev-master"

[2018-05-02 12:33] AydinHassan opened #97 "Document inputs"

[2018-05-02 12:33] AydinHassan opened #98 "Finish signal handling and pull in new version of terminal"

[2018-05-04 15:06] JohnatanT opened #101 "Output Text"
Hi, can you customize the text that will appear when choosing an item? Same as Flash Dialogue, but I do not want a "modal".

[2018-05-04 15:49] JohnatanT commented on #101
Is there any function like this? (setText)

->addItem('First Item', $itemCallable)->setText("My Text")

[2018-05-05 15:16] Lynesth commented on #101
Hi @JohnatanT,

What do you mean by "that will appear when choosing an item" ? Where do you want your "My Text" to appear exactly ?

[2018-05-06 16:41] JohnatanT commented on #101
In the terminal when we choose an item it shows the text of the selected item, but I wanted it to show a text that I want for each item and not the name of the item.

[2018-05-06 16:43] JohnatanT commented on #101
For example:
If I have an item called "First Item" and select it, it will appear in the "First Item" terminal. But I want another text and not the item name.

[2018-05-06 20:09] AydinHassan commented on #101
Could you maybe explain your use case? Why is the text attribute not enough? That is what is was designed for - there is no "name" attribute. It is just the text to be displayed on the menu. What are you using the text "First Item" for if it is not the text to be displayed on the menu?

[2018-05-07 00:02] Lynesth commented on #101
I guess you are using the example from the docs. If so, then it looks like this:

[code]

When you select 'First Item' (I mean when you go over it and then press ENTER), the script will invoque the second argument of your `addItem` call ($itemCallable in this case), which currently prints the the selected item text.

You just have to modify the content of the function to return something else.

Fo

[2018-05-07 00:44] Lynesth opened #106 "Precompute rows generation"
Why do we always recompute getRows() ?

Couldn't we save the result and only recompute it if the contentWidth (or anything else needed to get the correct outout, like if the text was modified) has changed ?

This is something we could do for all MenuItems with 2 variants for selectable ones.

What do you say @AydinHassan ?

[2018-05-07 13:37] AydinHassan commented on #106
I guess because we never thought of it or noticed any performance issues. I'm not sure on this, if we can do it without changing loads of code I don't see why not, how do you see a prototype working?

[2018-05-07 13:47] Lynesth commented on #106
Yes we shouldn't need to modify much.

When we create a new item, we store its state (its text, if its itemExtra should be shown, etc).
The first time we call getRows, we generate the rows and save them in a new private variable.

Afterwards, when we call getRows, we compare the current state of the item with the stored one. If they are the same we just return the rows previously saved. If not we

[2018-05-07 13:55] AydinHassan commented on #106
I guess I mean would we have to do this for every item, eg code change in each item? Or could we just do it one place - like a item caching decorator or something

[2018-05-07 17:30] #90 closed

[2018-05-07 17:49] #47 closed

[2018-05-07 21:03] JohnatanT commented on #101
Considering his example:
-> addItem ('What is 2 + 2?', $ itemCallable)
What if I want multiple items with custom text?
-> addItem ('What is 2 + 2?', $ itemCallable)
-> addItem ('What is 3 + 3?', $ itemCallable)
-> addItem ('What is 4 + 4?', $ itemCallable)
How would you have a different answer for each one?

[2018-05-08 01:12] Lynesth commented on #101
Ok so as I said in my previous answer, the second argument is the function that is invoked when you select the item. You just need to have a different function for each of them:

[code]

I hope this helps you. Let me know if you have trouble understanding it or if you have other questions.

[2018-05-08 01:38] Lynesth opened #113 "Force terminal to return 8 colours in tests"
In https://github.com/php-school/cli-menu/blob/master/test/Util/ColourUtilTest.php shouldn't we force the terminal to return 8 colours where we expect it to be ?

I mean that it's currently relying on the fact that Travis' terminal returns 8 colours when asked but it could change at some point.

@AydinHassan

[2018-05-08 07:39] AydinHassan commented on #113
It is mocked to return 8 where it needs to be or did I miss something?

[2018-05-08 07:41] AydinHassan commented on #71
Fixed in #112

[2018-05-08 07:41] #71 closed

[2018-05-08 07:42] AydinHassan commented on #101
Ok I'm closing this now - thanks for the examples @Lynesth and I hope that clears it up. @JohnatanT feel free to drop in the slack channel if you need some more assistance :)

[2018-05-08 07:42] #101 closed

[2018-05-08 09:45] Lynesth commented on #113
Yep nevermind that.

[2018-05-08 09:45] #113 closed

[2018-05-08 15:39] MiguelBamberino opened #119 "Features in the next release"
Hi All,

I really like your package and currently developing a cmd line app to use your menus, I have just noticed that the examples/input-* don't exist in version 2.1.0. Is this a new feature you're working on ? I would like to use these user input features and wondered when you expect to release this ?

thanks

[2018-05-08 15:43] AydinHassan commented on #119
Hi @MiguelBamberino - Yeah the inputs are a new feature, it's probably going to be a few weeks, hopefully not more than 2. There is a lot of development happening at the minute, with lots of testing and documentation to write! We will be tagging a new major version when everything is ready. You can see the progress under the 3.0 milestone: https://github.com/php-school/cli-menu/milestone/1

[2018-05-10 21:46] #95 closed

[2018-05-10 21:49] #96 closed

[2018-05-11 10:07] AydinHassan opened #124 "Borders for dialogues and Inputs"

[2018-05-11 11:00] AydinHassan opened #126 "Add support for referencing 256 colours by their name"
See https://jonasjacek.github.io/colors/

[2018-05-11 14:26] AydinHassan commented on #17
<img width="703" alt="screen shot 2018-05-11 at 16 14 17" src="https://user-images.githubusercontent.com/2817002/39929334-1c68a450-5538-11e8-947a-e97b21c4fa1a.png">
<img width="815" alt="screen shot 2018-05-11 at 16 16 59" src="https://user-images.githubusercontent.com/2817002/39929335-1c85bc16-5538-11e8-9dfd-07596740e758.png">
<img width="815" alt="screen shot 2018-05-11 at 16 17 13" src="https:/

[2018-05-11 14:38] AydinHassan commented on #17
<img width="815" alt="screen shot 2018-05-11 at 16 38 18" src="https://user-images.githubusercontent.com/2817002/39929969-bf45be46-5539-11e8-99f5-3dfdc0cf1fe3.png">

[2018-05-13 11:12] Lynesth opened #129 "Modify multiple lines handling of marker with selectable items"
We want them to look like that:
[code]
Instead of looking like this (which they currently do):
[code]

[2018-05-13 13:58] Lynesth opened #130 "Prevent trying to open() menus without any items"
Or at least handle it correctly. It crashes when trying to move the selection.

[2018-05-13 14:02] Lynesth opened #131 "Issues with multiple submenus with same id"
We currently can add multiple submenus with the same "id"
Example:
[code]
Both of them work but only the second one has its parent set and can "Go Back" to the main menu.

We either need to prevent adding a menu with the same ID or, even better, handle it differently (maybe like the `uniqid` that's used with split items ?).

[2018-05-13 14:07] AydinHassan commented on #131
`uniqid` sounds good to me!

[2018-05-13 15:00] AydinHassan opened #133 "Move builder stuff to own namespace"
Use `class_alias` on `CliMenuBuilder` so we don't pointlessly break loads of code, we can maybe add a deprecation notice.

[2018-05-13 19:51] AydinHassan opened #137 "Code completion is a bit broken when using the builder with split items"

[2018-05-13 21:48] AydinHassan commented on #131
This turns out to be more complicated - If we allow multiple sub menus with the same name then `CliMenuBuilder#getSubMenu()` will not function correctly either.

We can't just add a `uniqid` id on because the user needs to be able to reference it. Not sure what to do here.

[2018-05-13 22:06] AydinHassan commented on #133
TODO:

- [ ] Update doc imports
- [ ] Add upgrading section in readme and detail the change

[2018-05-14 12:18] AydinHassan opened #140 "Split Item docs"

[2018-05-14 14:09] AydinHassan commented on #130
@Lynesth is this still the case? I can't reproduce this on master

[2018-05-14 15:00] Lynesth commented on #130
Yep I confirm this still is the case on master.

You can reproduce it like this:
[code]

[2018-05-14 15:13] #133 closed

[2018-05-14 15:27] Lynesth opened #144 "Infinite loop with no selectable items in menu"
So if you create a menu without any selectable item and then try to move the selection up/down, we end up in the `moveSelectionVertically()` loop forever.

Here is a sample to try it:
[code]

Launch the example, then press `Q` to quit it, it works.
Launch the example, then press up or down arrow. Try to press `Q` to quit, doesn't work.

I think we should allow static only menus, as we can still do

[2018-05-14 15:35] #57 closed

[2018-05-14 15:38] Lynesth opened #145 "Bunch of new things to add (or not) some day"
- [ ] Allow each menu item to have custom bg/fg colours
- [ ] Allow each menu item to have their own custom marker/extra
- [ ] Add a position argument to all Items, to center them or put them on the right
- [ ] Allow user-defined width for each cell of a SplitItem (number of cols or %)
- [ ] Add a width to LineBreakItems (number of cols or %) just to make things a bit more easy (I prefer `LineBrea

[2018-05-14 15:54] #130 closed

[2018-05-15 07:40] #137 closed

[2018-05-15 12:55] #140 closed

[2018-05-16 11:45] AydinHassan commented on #131
Should be fixed by #155

[2018-05-16 11:45] #131 closed

[2018-05-16 15:33] #144 closed

[2018-05-17 10:44] #129 closed

[2018-05-17 17:46] mfour-merickson opened #161 "cli-menu 3.0!!"
Hey Gang,

Just wanted to offer up some props for the new version (cli-menu 3.0)  Just ran through all the examples and am anxious to start using the new version.

Congrats!

[2018-05-20 14:46] taytus opened #162 "How to get the Title of a Menu"
Hello guys!
I'm saving menus I'm creating in an array. These are going to be submenus of a parent menu.
The menus are being saved correctly, but I can't figure it out how to get their title. This is what my array contains:
`PhpSchool\CliMenu\Builder\CliMenuBuilder {#808
  -menu: PhpSchool\CliMenu\CliMenu {#813
    #terminal: PhpSchool\Terminal\UnixTerminal {#809
      -isCanonical: true
      -ech

[2018-05-20 15:04] Lynesth commented on #162
You currently cannot acces the title outside of the menu. You can set it using `setTitle` (callable on both CliMenuBuilder and CliMenu) but not get it.

Why do you need to get it ? Could you show us the code/loop where you would need to access the title ?

Thank you :)

[2018-05-20 16:13] taytus commented on #162
I have a couple of classes that I use from command line. Each class returns an array with the options and the methods associated to them.

The main class calls my own CliMenu generator.

My CliMenu generator, takes each class (passed via the main class when instantiated) and creates a bunch of sub menus that I store in an array.

The idea is to have a main menu with all these classes options as su

[2018-05-20 22:14] Lynesth commented on #162
It is 100% clear :)

I guess you can temporarily save the titles either as another array or as the key of your `$menues` array but I understand your point.

That would mean that we need to add a `getTitle()` public function to the CliMenu and either a `getMenuTitle()` or a `getMenu()` to the CliMenuBuilder.

I recall having a conversation on the subject with @AydinHassan so I'll wait for his comme

[2018-05-21 12:44] taytus commented on #162
Hello @AydinHassan.

This is not a random property. This is not asking for: How many childs a menu has or something like that.

The menu's title is one of the top level attributes we set up. I don't think is crazy to ask for an easy way to get that attribute back.

We can get almost all the styling related properties but we can't get menu title?

All that being said, this is something I can (and a

[2018-05-21 12:50] AydinHassan commented on #162
Hey @taytus - I just had a problem understanding the use-case - it seemed to me from the example given the problem could be resolved simply by re-organising some code. I'm happy to add code/features - but it needs a solid use-case before consideration. I didn't say it was crazy, but just because it's not crazy isn't justification in itself. I hope you understand my thought process. Glad you are en

[2018-05-21 20:58] simonschaufi opened #163 "Self created new lines result in unexpected new lines in output"
## Source:
[code]

## Expected Output:

[code]

## Real Output:
[code]

I have no idea why there is an additional newline after the zip code. I have played around with str_pad but nothing helped.

Additionally it would also be great if newlines could work well in the items:

[code]
* The m from muffins is alligned with the dot but insted it should be alligned with the F.

[2018-05-21 22:16] Lynesth commented on #163
Hello !

I suppose you are using @nunomaduro's implementation of CliMenu for Laravel which - I think - hasn't yet updated to CliMenu 3.0. Nevertheless, your example works perfectly with "vanilla" code:

[code]

![mintty_2018-05-22_09-05-24](https://user-images.githubusercontent.com/5318258/40332474-f0c5c8da-5d9f-11e8-99a5-34dbf7662d9e.png)

[2018-05-21 22:20] simonschaufi commented on #163
Yes, I just noticed I'm using the old 2.x version of your cli-menu. I have upgraded now with some tweaks but experience more problems now than before.

When I manually set the margin the whole layout is broken for example. I use putty with an ubuntu homestead box.

I will play around more and see what exactly is broken.

[2018-05-21 22:36] nunomaduro commented on #163
@Lynesth Yop. Didn't have time yet for that upgrade.

[2018-05-22 07:12] AydinHassan commented on #163
@simonschaufi looks like the width is just too wide for the terminal window, try set it smaller.

[2018-05-22 07:38] Lynesth commented on #163
@simonschaufi Just as Aydin said, the menu's width does not include the margin anymore in 3.0 so you need a terminal of at least the width + the left margin (the right margin is not printed).

The width of a menu is now comprised of the borders width (left and right), the padding (left and right) and then the rest is for the content. Think of it as `box-sizing: border-box` if you're familiar with

[2018-05-22 10:30] simonschaufi commented on #163
A default putty window is 80 chars wide. When I set the width to be static (to 78), then I don't get a "responsive" view any more with flexible/auto width. How do I make a frame with 1 margin and a border then with full width?

[2018-05-22 11:39] AydinHassan commented on #163
I think you would have to calculate it yourself yes. Maybe we could add a `setWidthMax` or something that would set the width to the maximum value based on the margin. Happy for any PR's.

[2018-05-22 11:42] simonschaufi commented on #163
What was the reason why you don't include the margin any more?

[2018-05-22 11:45] AydinHassan commented on #163
There wasn't a reason that I know of - it was done as part of https://github.com/php-school/cli-menu/pull/103/files maybe @Lynesth has a reason.

[2018-05-22 12:12] simonschaufi commented on #163
ok, since my initial issue is solved, this issue can be closed. Anything else is a feature request.

[2018-05-22 12:12] #163 closed

[2018-05-22 12:32] AydinHassan commented on #162
Closing this since the author solved the problem another way. Feel free to open more issues if you come across any other problems!

[2018-05-22 12:32] #162 closed

[2018-08-03 03:10] ptykamikaze opened #165 "Text is being cutted when pasting."
Hello! I'm trying to use your cli which is very nice tool but I'm having a problem. When I'm pasting a text, it is being reduced. For example if I paste CSLAD00000334, the cli return CSLAD0000033. The weird thing is that if I press space, the last character appears. Can anyone help me with this issue?

[2018-08-03 03:13] Lynesth commented on #165
Hey there,

Where exactly are you pasting the text ? Is it in an input ? If so, which one ?
Are you experiencing the same issue if you try pasting something shorter ?

[2018-08-03 14:57] ptykamikaze commented on #165
Hello. I'm using this method to generate an input

[code]
Temporally, I have modified this file "NonCanonicalReader.php", line 64, to allow up to 30 characters and for the moment it is working...

`$char = $this->terminal->read(30);`

Thanks for your quick response...

[2018-09-04 10:31] AydinHassan commented on #165
hey @ptykamikaze sorry for the very late reply. This is an interesting problem and I'm not sure what the solution should be. I never considered pasting in to the field when building this. I think the best way to solve this might be to PR a failing test case highlighting the issue and then we can discuss and figure out a solution.

While your solution does work for your use case, any pasted string

[2018-09-14 12:20] TwinMist opened #166 "Line Breaks in confirm"
How do you add line breaks in confirm?
ie.
confirm?
----------
option1
2
3
ok

[2018-09-18 11:27] AydinHassan commented on #166
hi @andyrav do you mean how to display multiple options or just have a line break in the text?

In any case, neither is possible at this time, sorry!

[2018-09-18 11:44] andyrav commented on #166
display multiple lines

On Tue, 18 Sep 2018 at 12:27, Aydin Hassan <notifications@github.com> wrote:

[2018-09-18 12:01] AydinHassan commented on #166
It's not possible. Feel free to send a PR!

[2018-09-18 12:04] Lynesth commented on #166
You could use a submenu with static items and no exit button as a substitute.
Not the best way to do it I agree, but that's currently the only way I guess.

If you feel like it, send a PR ;)

[2019-01-03 09:08] #166 closed

[2019-03-11 15:05] gezzyramos opened #169 "Check if tput exists before casting the exec result to an int"
Hello, when calling the setWidth function it checks if the passed value is greater than the total width of the terminal, but in my case the maximum width of the terminal always returns zero, for some reason the getWidth function can not get the actual width of the terminal .

I suggest setting a default maximum value, if the getWidth function returns zero.

Screenshots

without changing
![terminal

[2019-03-11 17:18] AydinHassan commented on #169
Hmm. Seems a bit hacky, we can certainly look at this but I'd rather figure out why `getWidth()` is returning 0. What does `put cols` return in your terminal? What terminal are you using? OS? Thanks!

[2019-03-11 18:50] gezzyramos commented on #169
Of course, the ideal would be to know why `getWidth()` is returning 0.
`tput cols` return 213
Deepin's terminal, edition 15.9.1 Desktop

[2019-03-11 19:26] AydinHassan commented on #169
Interesting. Could you try: `php -r "var_dump(exec('tput cols'));"` ?

And maybe also: `php -r "var_dump(function_exists('exec'));"`

[2019-03-11 19:39] gezzyramos commented on #169
O problema está no meu ambiente, estou com a aplicação no docker e o sistema usado não possui o comando tput.

sendo assim a issue pode ser fechada.

Obrigado pela ajuda. :D

[2019-03-11 19:40] gezzyramos commented on #169
The problem is in my environment.
I have the application in docker and the system used does not have the tput command.

so the issue can be closed. :D

Thank you for your help.

[2019-03-12 04:07] AydinHassan commented on #169
Cool, glad we found it. Maybe we can add a better error message? Do you think it’s worth it?

Sent from my iPhone

On 11 Mar 2019, at 23:40, Gezzy Ramos <notifications@github.com<mailto:notifications@github.com>> wrote:

The problem is in my environment.
I have the application in docker and the system used does not have the tput command.

so the issue can be closed. :D

Thank you for your help.

—

[2019-03-12 13:17] gezzyramos commented on #169
Of course, it would be good to inform when the system has not `tput` :)

[2019-03-31 23:30] vesper8 opened #170 "building menu not all at once ?"
I would like to build up the menu slowly, using methods and classes since it's a big menu

I notice that while this works:

[code]

this doesn't?

[code]

How come? Shouldn't they both be the same?

[2019-03-31 23:36] vesper8 commented on #170
ahh.. it looks like the 2nd code sample works only if you chain together build and open:

works
[code]

[2019-03-31 23:55] vesper8 commented on #170
but then I found out that when doing it this way.. a bunch of things don't work

this won't work for example

[code]

it gives an error
[code]

When building the menu in a modular way like this, I also can't call ->close() or ->redraw()

Please advise @AydinHassan, I really need to be able to build the menu not all at once

[2019-04-01 06:56] AydinHassan commented on #170
Well the menu is only created when you call build. Build returns the instance of the menu. You can call close on that and the other method.

The other methods you are calling are acting on the CliMenuBuilder. You only get an instance of CliMenu when you call build.

Try go through the docs again, it is all detailed there. Thanks.

Sent from my iPhone

On 1 Apr 2019, at 03:55, C-Bass <notifications

[2019-04-01 08:49] Lynesth commented on #170
Hey there @vesper8

I didn't have time to check everything right now but I think your code example (the one that doesn't work from your first post) would work by changing:

`$menu->build();`
into
`$menu = $menu->build();`

Because what you previously have (your $menu) is a MenuBuilder, not a Menu, and it's actually the `build()` function that returns the actual Menu that you can `open()`

It's the

[2019-04-01 10:57] vesper8 commented on #170
@Lynesth you nailed it!! thanks!! that's just what it was!

[2019-04-01 11:07] #170 closed

[2019-04-01 12:54] vesper8 opened #171 "addCustomControlMapping for opening subMenu ?"
I can set keyboard mapping for regular callables but I would like to use it to open a submenu.. any way to achieve that?

[code]

[2019-04-01 13:05] AydinHassan commented on #171
Unfortunately I don't think there is a way to do this. I think you could maybe hack it in somehow like this:

[code]

Not tested though!

[2019-04-01 13:05] AydinHassan commented on #171
I'd be open to a better way of doing this if you can think of one.

[2019-04-01 13:12] AydinHassan commented on #171
Actually that doesn't work, but this does:

[code]

[2019-04-01 13:20] vesper8 commented on #171
thanks a lot for finding a workaround! it's a bit wordy though.. guess I can wrap it in a method since I have many sub-menus I want to do this for. Maybe in a future version it could be built-in. If the 2nd argument passed to addCustomControlMapping is an instance of CliMenuBuilder then iterate through the menu's items and find the one with the matching title?

Another thing I wanted to ask about.

[2019-04-01 13:26] AydinHassan commented on #171
Hey yeah I'd be happy to accept a PR to make that easier. Unfortunately It's not something I will be doing myself. Another option would be to just accept the shortcut key as a third parameter to `addSubMenu`.

Regarding the second thing, I'm unsure, try it :)

[2019-04-01 15:08] vesper8 commented on #171
I might submit a PR later for the other things, for now I've hacked up this quick method that scans all menu items for letters in between square brackets and automatically assigns keyboard shortcuts to those it finds. I did very little testing but this demo works

[code]

Not the prettiest but useful.. let me know if you want a PR for that

[2019-04-01 15:14] AydinHassan commented on #171
I like the idea! @Lynesth @mikeymike what do you think? I think some people might think it's a bit magic, but I dig it, so just checking with others.

[2019-04-01 15:19] vesper8 commented on #171
I started using it and noticed that I can't bind the letter 'm' ? it's somehow.. reserved?

[code]

[code]

I can't find anywhere in your source where the letter 'm' is bound and pressing it does nothing.. so I'm confused.. works with other letters.. though I haven't tried the whole alphabet

[2019-04-01 15:19] mikeymike commented on #171
definitely something of value imo, would need a little documentation to go with as I can imagine there's a few caveats with nested menus.

[2019-04-01 15:20] mikeymike commented on #171
@vesper8 https://github.com/php-school/cli-menu/blob/master/src/CliMenu.php#L74

[2019-04-01 15:28] vesper8 commented on #171
ahh.. I see.. are those like.. VIM mappings? seems weird.. I would like to be able to disable that or override them

I also just improved my magic method to work with selectable items as well as menu items

[code]

[2019-04-01 15:35] Lynesth commented on #171
@vesper8
That's very unfortunate as I cannot find the code I wrote a while ago for a client using CliMenu since it was pretty much doing that.

Anyway, here is another way of doing it, defining each menu separatly from children to parents
[code]

We could improve the whole thing I agree...

[2019-04-01 15:35] AydinHassan commented on #171
Yeah I think a method to disable vim mappings should be fine. I would like to see the method `autoMapKeyboardShortcuts` on the CliMenuBuilder though if at all possible, and it would be nice to set it once on the parent builder and not have to set it again on each child builder.

[2019-04-01 15:42] vesper8 commented on #171
going to fork for now as I'm sure I'll find more bugs/improvements as I continue to play around with this package. Once things are a bit more stable I'll submit some PRs

[2019-04-01 15:43] AydinHassan commented on #171
Sounds great @vesper8, looking forward to new features :)

[2019-04-01 16:16] vesper8 commented on #171
hrmm.. what do you mean they won't work? It's still calling it in this example:

[code]

[2019-04-01 16:19] Lynesth commented on #171
@vesper8 I mean that if you are on the first element of the menu ("[S]uper Sub Menu" in your case) and then press `B`, it will echo "[S]uper Sub Menu", not the expected "[A]" as if you actually selected it and pressed `ENTER`.

[2019-04-01 16:27] vesper8 commented on #171
I see.. well I think if you have a callable that is suppose to interact with the currently highlighted menu item, then you just shouldn't add a global [key] shortcut to it because that doesn't make sense

[2019-04-01 16:28] Lynesth commented on #171
@vesper8 Yes, I know. I was just pointing out that examples wouldn't work with this method :)

[2019-04-01 16:42] Lynesth commented on #171
@vesper8 You'll also need to make it recursive in order for it to work on SplitItem too.
Here is a draft of the thing:

[code]

[2019-04-01 16:48] vesper8 commented on #171
@Lynesth thanks! yes I was just realizing that this doesn't work for submenus either.. which is more of concern

it only works if I call ->build() inside the submenu, but then that adds an extra set of 'go back' and 'exit'

[2019-04-01 16:55] Lynesth commented on #171
@vesper8 There you go for submenus (so hopefully full recursiveness):

[code]

Now it's way too late here, I'm going to bed, have fun :)

[2019-04-01 17:05] vesper8 commented on #171
excellent!! this works very nicely!

[code]

[2019-04-01 17:15] vesper8 opened #173 "text and number input should also implement same setValidator as password field?"
I know I could create my own custom inputs but I feel like the default inputs should have the same ability to set a custom validator as the password input.. I mean why not? If none is set then it will default to the current behaviour, and if the user wants to set a custom validator then he just has to provide a closure like in the password example

would you accept a PR for adding this?

[2019-04-01 17:21] vesper8 commented on #173
I also notice that many of the methods inside Number, Password and Text are duplicated

I see you use Input as a contract currently. Would you a PR that moves all these duplicated methods inside the implemented Input?

[2019-04-02 00:18] vesper8 commented on #171
@Lynesth I think it's almost perfect now.. only thing that's missing is allowing keyboard shortcuts to only apply to the current menu, so keys could be re-used.

I think your idea about building menus separately and opening/closing them instead of using the concept of sub-menus could allow this to be possible.. maybe that is the best way.. this could make it difficult to manage though when going b

[2019-04-02 00:52] Lynesth commented on #171
@vesper8 What do you mean ?
Shortcuts are menu based which mean that you can have the same key used for different menus. Does that not work for you ?

[2019-04-02 01:15] vesper8 commented on #171
oh wow! damn.. my bad totally should have tested that before.. it does work!! awesomely well in fact!

[2019-04-02 01:25] vesper8 commented on #171
one more for you :)

I want to map a key to the 'go back' on each submenu. I've managed this by adding this line to the autoMap method:

[code]

[code]

it work nicely, but I would like to map it to "meta - up arrow".. that is.. on the mac.. CMD-UP

Do you know how/if I can map it to that?

[2019-04-02 01:46] vesper8 commented on #171
By printing out the $rawChar inside the CliMenu.php I managed to make it work with "ALT-UP" with this mapping:

[code]

I don't think I can make it work with CMD-UP since that's a registered hotkey inside iTerm2

I also wonder if there's a way to break out of "askText()", ESC doesn't work.. CTRL-C seems to be the only way.. or answering the question but there should be a way to cancel ideally

[2019-04-02 04:12] Lynesth commented on #171
@vesper8
I really don't think we can do anything with `CMD + Key` or `WIN + Key` since they are not printed out.
For the `ESC` part, you may have a look at #174

[2019-04-02 04:14] Lynesth commented on #171
For the Go Back shortcut, wouldn't it work to simply change the `goBackButtonText` to something like "Go [B]ack" ?

[2019-04-02 06:15] AydinHassan commented on #173
Yeah I don't see why not for the validators. I don't care so much about introducing inheritance chains though - the code is not very complicated.

[2019-04-02 11:14] vesper8 commented on #171
yes that would be one way to handle it, however I like navigating with CMD-UP/CMD-DOWN rather than reaching for the enter and b keys

For the "go back" behaviour I managed it, As I mentioned above, by adding (now mapped to ALT-UP)

[code]

For mapping ALT-DOWN to "Enter" I added

[code]

But then I noticed that doing so only makes it work on the parent menu.. so I also added it to the submenu in t

[2019-04-04 20:28] AydinHassan commented on #171
@vesper8 can this be closed now we have #176 ?

[2019-04-04 20:28] AydinHassan commented on #173
@vesper8 do you plan on working on this or can I close?

[2019-04-04 23:33] vesper8 commented on #171
yes of course! really glad this prompted all this work to happen! great team effort!

[2019-04-04 23:33] #171 closed

[2019-04-04 23:34] vesper8 commented on #173
yes I was waiting for you to push the other stuff so I can get a fresh fork and add these changes. I'm already using them locally.. although I did add a bunch of inheritance.. I'm a bit OCD about duplicated code.. but I'll submit a PR that doesn't include all that and just adds the setValidator methods to the text/number classes. I'll do that now!

[2019-04-05 06:11] #173 closed

[2019-04-26 13:09] taytus opened #178 "Set Width for Inputs"
Hello!

I'm trying to set up the width of an input without luck.

Any idea how to achieve this?
[code]

[2019-04-28 17:10] AydinHassan commented on #178
Hi @taytus this is not possible atm!

[2019-04-29 04:15] taytus commented on #178
Cool, thank you @AydinHassan. I've found a super hacky workaround but hey... it works!
Sharing here just in case someone runs into the same problem:

[code]
function test($options, $width){
$spacer= str_repeat (" ", $width );

$result = $menu->askText()
                ->setPromptText($spacer.$options['prompt_text'].$spacer)
                ->setPlaceholderText($options['placeholder_text'])

[2019-04-29 18:46] AydinHassan commented on #178
Nice! feel free to send a PR adding the functionality if you want :)

[2019-10-05 17:38] taytus opened #182 "What's the life cycle of the menu?"
Hello!

I'm having a problem where the menu won't close or won't exit the routine and it's a bit confusing to me why that is happening.

I have a small method that creates a menu:

//$options is a one level array of strings
[code]

In the same class, I call this method twice with different $options.

[code]

If I don't stop the execution, after the second menu, it loads again the first menu and th

[2019-10-05 17:44] AydinHassan commented on #182
It doesn't look like you are doing anything wrong on quick glance. Could be a bug. I'l have a look now.

[2019-10-05 17:50] AydinHassan commented on #182
Seem to work fine (on latest master) for me with the following. If I select `Blue` then `Red`. It prints out:

[code]

[code]

What version are you using?

[2019-10-05 18:05] taytus commented on #182
I'm using 3.2.
I didn't create a class as you did. I mean my method calls a method within its class. I'm going to try that approach but it still is not clear why the menu re-draws twice.

[2019-10-05 18:08] AydinHassan commented on #182
If you have code that is doing something different can you post as well so I can debug. If it's redrawing like you said then it's probably a bug but what you gave me works fine on `3.0.0`.

[2019-10-05 18:13] taytus commented on #182
I'm going to uninstall it and install it again and will update you. Thank you @AydinHassan

[2019-10-05 18:22] taytus commented on #182
I'm still having the same issue. I will modify my code to its barebones and will share it here.

One question thou:

In your example, you said this code:

[code]

returns:
[code]

Shouldn't only return "Red" since it's the same Menu instance and you are modifying the latest_menu_selection variable?

That is what I'm getting.

[2019-10-05 18:27] AydinHassan commented on #182
Not sure I'm following. `$latest_menu_selection` is just a string, so first time `popup_menu` runs I select Blue and then it sets `$latest_menu_selection` to `Blue` and prints it. Then next time `popup_menu` runs I select Red and it sets `$latest_menu_selection` to `Red` and prints it.

[2019-10-05 18:45] taytus commented on #182
I think it has something to do with Laravel, but I'm not sure.

I created a new laravel app, here is the code: [https://github.com/taytus/menu](url)

Run the menu with php artisan menu:show.

Inside app\Console\Commands\my_menu.php I have this code:

[code]

And only returns the latest selection.

[2019-10-05 18:52] AydinHassan commented on #182
Ok when I run that and select `black` then `blue` the output is

[code]

Is that not what you expect? Or is that not what you get?

[2019-10-05 18:55] taytus commented on #182
That is what I expect, but I'm only getting the latest option.
So weird!

[2019-10-05 19:43] AydinHassan commented on #182
Can you try scrolling up the terminal to check because the terminal is cleared when opening a new menu, I have to scroll up to get the result.

[2019-10-05 19:45] taytus commented on #182
@AydinHassan yeah, I figured it was that 😅

So now that part is solved, I have to check again why the menu keeps looping.

I'm going to keep this ticket open and will update with my finding.

Thanks!

[2019-10-05 20:27] AydinHassan commented on #182
Sure no problem :)

[2019-10-05 21:48] taytus commented on #182
I'm closing this because I found out the culprit of this bug.

My code is calling twice the method in charge of painting the menu 😭

Thank you @AydinHassan for your help!

[2019-10-05 21:48] #182 closed

[2019-10-05 21:49] AydinHassan commented on #182
It's okay. Glad you sorted!

[2019-12-15 18:07] jtreminio opened #184 "Item Extra outside of bounds when not initially shown"
Using the example here:

https://github.com/php-school/cli-menu/blob/master/examples/toggle-item-extra.php

but changing the following

    ->addItem('First Item', $itemCallable, true)
    ->addItem('Second Item', $itemCallable, true)
    ->addItem('Third Item', $itemCallable, true)

to

    ->addItem('First Item', $itemCallable, false)
    ->addItem('Second Item', $itemCallable, false)
    ->addI

[2019-12-15 18:54] jtreminio opened #185 "Toggleable item support"
edit: This comment out of date. This is now a PR ticket. See comment https://github.com/php-school/cli-menu/issues/185#issuecomment-565890310

-----

Currently item rows look like

    {marker}  {text}                      {optional item extra}

The `marker` property seems to only be toggable on highlighting a row. It is not aware of state, nor can it be changed once the menu is displayed.

My goa

[2019-12-15 19:08] jtreminio commented on #185
Apologies, I just realized `CliMenuBuilder::addMenuItem()` allows this already.

Thanks!

[2019-12-15 21:57] AydinHassan commented on #184
Yeah this is a known issue, reported in #66. I did have a look at fixing it the other day but couldn't think of a solution without changing loads of code. If you can think of a nice way to solve this, we'd happily accept a fix.

[2019-12-15 21:59] AydinHassan commented on #185
@jtreminio if you create a new item type to support this behaviour, we'd happily accept that as a PR, sounds very useful!

[2019-12-16 03:26] jtreminio commented on #185
I have update this ticket to reflect a PR.

I've added `PhpSchool\CliMenu\MenuItem\ToggleableItem' which can be used as a checkbox/radio style element:

![Peek 2019-12-15 21-24](https://user-images.githubusercontent.com/589398/70876987-4cec0580-1f81-11ea-8394-270147468873.gif)

To test, run `php examples/toggleable-item.php`

The ToggleableItem objects keep track of their toggled state with a `tog

[2019-12-16 18:48] jtreminio opened #188 "getSelectedItem() makes it impossible to group split items / Radio items"
https://github.com/php-school/cli-menu/blob/74dca3eb0a73fb816a446f8ba3bee552e2656f56/src/CliMenu.php#L384

If you have a group of `MenuItem` in a `SplitItem` calling `CliMenu::getSelectedItem()` returns the actual `MenuItem`, not the `SplitItem` group. This is fine.

However, there is currently no way of fetching the `SplitItem` group from within a callback:

[code]

If we add the following to `Cl

[2019-12-16 19:14] jtreminio commented on #185
Closing, merged.

[2019-12-16 19:14] #185 closed

[2019-12-17 03:24] jtreminio opened #190 "Renaming some Items, layout idea"
Seems like the naming of items is a bit weird. I'm new to the project so maybe I simply need to become acquainted a bit more to understand.

I will be talking specifically about these items: https://github.com/php-school/cli-menu#items

* Static Item - Seems a "Text" name would be more accurate. Non-selectable, just displays whatever is defined and prints a new line.
* Ascii Art Item - "Block"? I'

[2019-12-17 03:46] jtreminio opened #191 "Don't call $callback->bindTo()"
Both `CliMenuBuilder::addSplitItem()` and `SplitItemBuilder::addSubMenu()` call `$callback = $callback->bindTo($builder);`

This overrides `$this` within the context of the callee, forcing the use of `$self = $this` or similar:

[code]
Within the anonymous function, `$this` refers to the same `$b`:

[code]
But `CliMenuBuilder::addSplitItem()` and `SplitItemBuilder::addSubMenu()` already pass the b

[2019-12-17 09:25] AydinHassan commented on #191
Yes this does seem rather counterintuitive in that sense. It was specifically requested and implemented in #155 though so I'd like to hear @Lynesth opinion on this. It makes sense from my point of view to make this change though.

[2019-12-17 09:26] AydinHassan commented on #184
Fixed in #187

[2019-12-17 09:26] #184 closed

[2019-12-17 09:26] AydinHassan commented on #66
Finally fixed with https://github.com/php-school/cli-menu/pull/155 !

[2019-12-17 09:26] #66 closed

[2019-12-17 09:39] AydinHassan commented on #188
Maybe something like

[code]

So we don't have to tie it to the split item in particular?

[2019-12-17 09:46] AydinHassan commented on #190
Whilst I agree on the naming of things I don't really want to go about changing the names due to BC concerns. We've already renamed a bunch of stuff and it was quite annoying. The documentation and examples are very thorough so I don't really agree on the confusion aspect. The library is quite well established so I'd rather not chuck in a bunch of BC breaks for purity. Hope you understand.

Your p

[2019-12-17 09:59] AydinHassan commented on #35
Going to close this for now, feel free to re-open if interest arises!

[2019-12-17 09:59] #35 closed

[2019-12-17 10:00] #33 closed

[2019-12-17 10:22] AydinHassan commented on #188
Also, thinking about this. You could implement this as separate item type and do the unselecting as part of the items action and keep the logic nicely separated to the item type like so:

[code]

[2019-12-17 15:42] jtreminio commented on #188
Good idea on auto-managing state.

[2019-12-17 15:44] jtreminio commented on #188
Should `CheckableItem` and `RadioItem` share the same `MenuStyle::checkedMarker` and ``MenuStyle::uncheckedMarker` or be separate?

I'm leaning towards separate.

[2019-12-17 15:45] AydinHassan commented on #188
I'm fine with either :)

[2019-12-17 18:48] jtreminio commented on #188
Merged in #193

[2019-12-17 18:48] #188 closed

[2019-12-17 19:07] #191 closed

[2019-12-17 21:11] AydinHassan opened #197 "Crazy redraw example looks very broken"
<img width="814" alt="Screenshot 2019-12-17 at 22 10 49" src="https://user-images.githubusercontent.com/2817002/71034595-17c6eb00-211a-11ea-8c3e-85f7bd571311.png">

[2019-12-18 03:41] jtreminio opened #200 "Item-specific styling"
Currently all items are on the same vertical level:

[code]

Using line breaks makes it a little easier to separate elements:

[code]

This works fine but could be better. What do you think about an "itemIndent" vlaue in the `MenuStyle` that is applied only to `SelectItem`, `RadioItem` and `CheckableItem`?

[code]

The indentation helps visually separate what is an actionable item and what is most

[2019-12-18 03:50] jtreminio commented on #200
To get this to work, `SplitItemBuilder` would need to have a `MenuStyle` of its own, so its constructor would need updated.

Could also have separate itemIndent values for `CheckableItem` and `RadioItem` to match their marker styles:

[code]

If a developer wants they can align everything using the `SelectableItem`'s marker as well:

[code]

[2019-12-18 08:00] AydinHassan commented on #200
It sounds interesting but I think I would rather implement it in a different way. At this point we might want to introduce per item styling. That way we wouldn't have to special case items and introduce new styling concepts. A item could have its own styling and in this case it would be left padding.

This would leave us room to add other features such as items with different colours and text styl

[2019-12-18 15:16] jtreminio commented on #200
Do you have any plans drawn up on how you'd like to implement item-level styling?

[2019-12-18 15:31] AydinHassan commented on #200
Hey, not particularly, my only thoughts were that we might want items to expose a `getStyle` method and have a new `ItemStyle` class. Items should be able to be constructed without a style object and in that case styles would propagate from the main menu style (the ones that would make sense anyway for example: fg and bg colours).

We could have the builders have an internal `ItemStyle` object wit

[2019-12-18 15:34] jtreminio opened #201 "Style reset after 2nd submenu"
[code]

![Peek 2019-12-18 09-33](https://user-images.githubusercontent.com/589398/71099760-6c4d8300-2179-11ea-8be0-d3e0b7a637ef.gif)

It appears `CliMenuBuilder::addSubMenu()` returns false for

[code]

I can step through and verify this, but the MenuStyle is only applied to the first submenu, nothing afterward unless I set the values again.

[2019-12-18 15:47] AydinHassan commented on #201
That's odd, definitely a bug

[2019-12-18 16:16] AydinHassan commented on #201
A quick says it's broken. When building the 3rd menu, the second menu has been built yet, so it's not had the first menu's style set on to it. It has the default style. So the 3rd menu inherits the seconds default style.

[2019-12-18 17:33] jtreminio commented on #201
Adding menus and items executes their code immediately (other than user-provided callbacks).

If the code is changed so that `CliMenuBuilder::addSubMenu()` and `CliMenuBuilder::addSubMenuFromBuilder()` persist anonymous functions vs an instantiated `CliMenu` object, and then run that code on initial submenu being opened, we can avoid this race condition.

[2019-12-18 17:38] jtreminio commented on #201
I'm thinking `CliMenu` could be somewhat like a container, like the old Pimple.

[2019-12-18 18:32] AydinHassan commented on #201
Not sure I’m following but I’d be interested in seeing a prototype 😀

[2019-12-19 16:04] jtreminio commented on #200
Can you provide feedback on PR #203

I know it's a major API change style-wise. The `CliMenuBuilder::setUnselectedMarker()` and similar style-related methods are a little weird to be included in the class, but I kept them around and only apply changes to items at current menu-level and of `SelectableInterface` (`SelectableItem`, `MenuMenuItem`) as those were the only ones before CheckableItem and

[2019-12-19 19:07] jtreminio commented on #200
PR #203 has been replaced with PR #204 - it does not include `SelectableItem` styling, only `CheckboxItem` and `RadioItem`.

[2019-12-19 20:47] jtreminio commented on #200
@AydinHassan Once #205 is merged, what do you suggest doing with `SelectableItem` styling?

Right now you change its marker via `CliMenuBuilder::setSelectedMarker()` which is different from how `RadioItem` and `CheckboxItem` now do it.

My previous PR that was closed added a style class for the `SelectableItem` to match the other two. It also kept BC with current API (`CliMenuBuilder::setSelectedM

[2019-12-19 21:42] AydinHassan commented on #200
I'd like to introduce `SelectableStyle` too - I just want to keep the diffs minimal so we can concentrate on having good design.

So yeah we can either drop `setSelectedMarker` altogether or have it proxy to `SelectableStyle` but we can discuss that later.

[2019-12-19 21:43] AydinHassan commented on #200
Btw I don't mind breaking a few things for 4.0.

[2019-12-20 07:02] AydinHassan commented on #201
Fixed with #210.

[2019-12-20 07:02] #201 closed

[2019-12-21 01:23] jtreminio opened #217 "Vertical grouped RadioItem"
SplitItem radio works well:

[code]

But it's not possible to have multiple groups of RadioItem within the same menu level:

[code]

![Peek 2019-12-20 19-15](https://user-images.githubusercontent.com/589398/71300748-66b09280-235d-11ea-914e-ab1cbf3ec1bc.gif)

Similarly, I want to be able to group non-RadioItem items together.

I'm thinking a non-styled container item that can take any number of `Me

[2019-12-21 02:17] jtreminio commented on #217
Seems `SplitItem` handles item selection differently since it displays data horizontally, so it keeps a different selected index to the rest of the parent menu.

[2019-12-21 12:34] AydinHassan commented on #217
It sounds like a logical next step. If was already thinking of this myself. It could have `getChecked()` method which returns the checked items. If we can implement this in a nice clean way without lots of special casing and touching lots of files I'd be happy to include it.

[2019-12-21 18:58] jtreminio opened #218 "stty: invalid argument ‘canon’"
Commit f796a5ae8147896edb0988d782b082ef9708f26e introduced bug where `stty: invalid argument ‘canon’` is echoed on exiting.

[code]

[2019-12-21 19:11] AydinHassan commented on #218
Run `composer update` that dependency bump fixes the command.

[2019-12-21 19:11] #218 closed

[2019-12-21 19:19] jtreminio commented on #218
Sure does, thanks!

[2019-12-21 19:24] jtreminio opened #219 "Columns < 100 results in broken submenu layouts/colors"
To show current size use `tput cols`

![Peek 2019-12-21 13-22](https://user-images.githubusercontent.com/589398/71312799-040ad580-23f5-11ea-928a-cd1ea5af62bc.gif)

Here it is with 100:

![Peek 2019-12-21 13-23](https://user-images.githubusercontent.com/589398/71312809-2866b200-23f5-11ea-829d-11ffb8529c3f.gif)

I am able to reproduce across several different terminal emulators.

[2019-12-21 19:26] jtreminio commented on #219
I've gone back several tags and seems this problem has existed for some time... but I did not composer update on them, always using the latest `PhpSchool\Terminal` package.

[2019-12-21 19:33] jtreminio commented on #219
The cause seems to be the `MenuStyle::$defaultStyleValues['width']` value.

If I set it to 80, and my columns are 99, the menu displays as expected.

If I set it to 80 and set cols size to 80, menu displays as expected.

Resetting to 100 reproduces bug.

[2019-12-21 19:35] AydinHassan commented on #219
This is correct (expected behaviour). The default size of the menu is 100. So unless you change the width to a smaller value it will overlap.

You can grab the Terminal object and set the width based on the terminal size.

https://github.com/php-school/cli-menu#width

[2019-12-21 19:36] AydinHassan commented on #219
I guess we could treat the default the same as we do when manually setting a value larger than the terminal width.

[2019-12-21 19:46] AydinHassan commented on #219
Actually. There is a bug, it's the default margin. Looks like it might not be taken into account when calculating the width.

[2019-12-21 19:52] AydinHassan commented on #219
Replacing `\PhpSchool\CliMenu\MenuStyle::calculateContentWidth` with the below code fixes it. Breaks lots of tests though. I don't have time to fix it right now.

[code]

[2019-12-21 20:27] jtreminio commented on #219
While that fixes the broken column sizing for submenus, it does not fix passing the passing parent style to child because `hasChangedFromDefaults()` fails.

Running the initial test in a terminal with 95 cols `hasChangedFromDefaults` returns false because the parent's `width` is 95 but the default static width is still 100.

[2019-12-21 20:41] jtreminio commented on #219
The following solves the issue:

[code]

It includes your patch as well as updating the default width the first time the class is instantiated. Since it's a static the change reflects.

[2019-12-21 20:45] AydinHassan commented on #219
There is another bug as well with margin auto. Need to look in to that more but I  think `calculateContentWidth()` into `setMarginAuto()` might help.

[2019-12-24 18:36] #219 closed

[2019-12-24 21:12] AydinHassan commented on #197
Emojis don't work so I've removed from the examples.

[2019-12-24 21:12] #197 closed

[2020-01-28 08:35] VladReshet opened #228 "Composer version differents to github repo"
Hi,

when you install this package via composer, you get non-current version, which has no checkboxes. Last composer version is dated 8 month ago. Is that OK?

[2020-01-28 08:38] AydinHassan commented on #228
hey @VladReshet yeah it's not released yet, there are some things to finish off first.

[2020-01-28 08:38] #228 closed

[2020-01-28 08:50] AydinHassan commented on #228
You can install the master branch though and play with the new features: `composer require php-school/cli-menu:dev-master`

[2020-01-28 09:22] VladReshet commented on #228
Got it, thanks!

Just out of curiosity - is there an estimated date of release of these features?

[2020-01-28 09:23] AydinHassan commented on #228
Unfortunately not, whenever I find some time and have a brainwave on how to solve a few issues 🤔

[2020-01-28 09:23] VladReshet commented on #228
Got it. I hope you will have a time, because your lib is **really cool**! Thanks!

[2020-02-09 22:38] jtreminio opened #229 "Don't append two \n in CliMenu::draw()"
Howdy.

`draw()` calls `newLine()` twice: https://github.com/php-school/cli-menu/blob/master/src/CliMenu.php#L530

If we're trying to build an app that fits within "standard" 24x80 the new lines take up quite a bit of space:

![image](https://user-images.githubusercontent.com/589398/74111472-56958200-4b5a-11ea-8d51-730c6719571b.png)

vs not including them:

![image](https://user-images.githubuserc

[2020-02-11 09:25] AydinHassan commented on #229
I don't see why not, would you do it for both top and bottom, or just bottom?

[2020-02-15 22:23] AydinHassan commented on #229
@jtreminio planning on releasing 4.0.0 in the next couple of days if there's anything you want to add :)

[2020-02-15 22:24] AydinHassan commented on #228
hey @VladReshet will probably release 4.0.0 this week sometime :)

[2020-02-16 11:46] AydinHassan commented on #17
<img width="822" alt="checkbox" src="https://user-images.githubusercontent.com/2817002/74604044-62cd9200-50ba-11ea-941f-377a51c9dcfd.png">
<img width="822" alt="checkbox-split" src="https://user-images.githubusercontent.com/2817002/74604048-63febf00-50ba-11ea-9b20-39eb3a79989d.png">
<img width="822" alt="radio" src="https://user-images.githubusercontent.com/2817002/74604049-652fec00-50ba-11ea-8361

[2020-02-16 13:53] AydinHassan commented on #200
Whats the status here @jtreminio can this be closed now?

[2020-02-16 13:54] #190 closed

[2020-02-16 13:54] #126 closed

[2020-02-16 13:55] AydinHassan commented on #126
Doesn't seem like there's much interest in this. We can revisit at a later date if the need arises.

[2020-02-16 13:56] AydinHassan commented on #106
Not a high priority for now. Open for discussion though!

[2020-02-16 13:56] #106 closed

[2020-02-16 13:56] #48 closed

[2020-02-16 23:33] mikeerickson opened #233 "Auto detect current background"
Looking for some advise on setting foreground / background colors based on current terminal settings.

Ideally, just do some simple inversion would suffice.

What have you all done under these conditions?

[2020-02-17 07:10] AydinHassan commented on #233
Hey, sorry I’ve never come across this problem so I can’t really help. Did you manage to find any information?

[2020-02-17 08:09] VladReshet commented on #228
Wow, great! :)

[2020-02-18 16:37] #233 closed

[2020-02-18 17:47] mikeerickson commented on #233
Nope, I could not find a working solution

[2020-02-18 19:14] AydinHassan commented on #228
@VladReshet tagged 4.0.0 now 😃

[2020-02-18 19:32] AydinHassan commented on #233
@mikeerickson  If you come up with something in the future, that would be a pretty cool feature!

[2020-02-18 20:03] mikeymike commented on #233
You can set the background and foreground colours, so I think the worst case scenario would be the background is the same as the terminal background.

All scenarios I think are fine as long as you set your background and foreground with enough contrast it should always be readable

(This doesn't of course cover the cases where the user has customised their terminal colours unfortunately)

[2020-02-19 10:19] VladReshet commented on #228
Awesome, thanks!)

[2020-02-19 10:22] AydinHassan commented on #228
If you send a PR we can add your integration to the readme at the bottom :)

[2020-02-19 10:27] VladReshet commented on #228
At first sight my integration looks to be similar to this one
![image](https://user-images.githubusercontent.com/7568590/74825548-cfdb6480-5312-11ea-80de-e2d14a50f9fe.png)
but in fact they have really different functionality.

Anyway, i will send you PR today, and the decision is yours :) Thanks

[2020-05-08 18:34] incredimike opened #238 "Opening multiple menus"
I am attempting to build dynamic menus that to reflect the user's choice from a submenu in the parent item.

For example:
We create Config object with a isReady() method that tests if all options are set.
We want users to select options from the menus until the Config object is populated enough for isReady() to pass.

To accomplish this, I am building a new menu inside a do-while loop.
e.g. pesudo

[2020-05-08 19:57] AydinHassan commented on #238
Hi @incredimike can you maybe give a small reproducible script which illustrates the issue, that will help us see and debug the problem. Thanks!

[2020-05-10 19:31] incredimike commented on #238
Give me some time before closing this issue and I'll recreate a simple poc

[2020-05-10 20:53] AydinHassan commented on #238
@incredimike sounds good, thanks!

[2020-05-23 10:36] AydinHassan commented on #238
Feel free to re-open when you have a reproducible :)

[2020-05-23 10:36] #238 closed

[2020-05-23 10:36] #229 closed

[2020-05-23 10:37] #200 closed

[2020-05-23 10:37] #178 closed

[2020-05-23 10:38] #145 closed

[2020-05-23 10:38] #124 closed

[2020-05-23 10:38] #98 closed

[2020-06-23 06:10] taytus opened #239 "Using escape key as CustomControlMapping"
Hello everyone 👋🏻

is this possible? I've tried: `$menu->addCustomControlMapping('ESC', $exit);` and other variations such as "esc", "escape" and 'ESCAPE" and none seems to work.

Thank you!

[2020-06-23 07:53] AydinHassan commented on #239
Hello,

Unfortunately there is not a way to do this at the minute, sounds like a welcome feature to me though!

[2020-07-03 11:30] #239 closed

[2021-02-04 01:30] JuGid opened #243 "It is not possible to completely rebuild Menu"
Hello,

I'm making a task manager with CLI-menu. To achieve that I use a plain text Yaml file to store tasks. I can delete some tasks and remove the Item that comes with. When I 'Go back' then return to my SubMenu with my tasks, the list is not up-to-date because the builder is not recalled. (if I delete a task from Items, it still deleted since I rerun the app).

Is it possible to add something t

[2021-02-04 07:26] AydinHassan commented on #243
Hi,

Can you show the relevant code you are using please (where you remove items)? (Maybe skip the Yaml part since that is not really relevant).

AFAIK it should be possible: https://github.com/php-school/cli-menu#getting-removing-and-adding-items

Note that you need to manually redraw the menu if you do that.

[2021-02-04 20:26] JuGid commented on #243
Hi,

Thanks for your answer. This is the relevant code you asked. This is the function I call to build my Menu in another class file. I have removed the parts you don't need.

(ShowMenu)
[code]

I have another menu to create my Tasks  (CreateMenu) :

[code]

When I switch from Create menu to Show menu, it doesn't update my menu if I have created a new element. Should I add the Item from CreateMenu

[2021-02-04 20:32] AydinHassan commented on #243
Sorry I don’t really understand the problem. Can you provide a minimal reproducer that I can run myself and see the problem in action?

[2021-02-04 22:42] JuGid commented on #243
Use the code below. Go to "Options", click on some items to delete them. "Go back" then go back to "Options". The menu is not rebuilt with all items. The deleted items still deleted. That's normal but I would like to rebuild the menu as the original.

[code]

[2021-02-05 09:03] AydinHassan commented on #243
Ok there is not really a good way to do this - if you remove them, then they are gone. You will either have to rebuild the menu entirely - or replace some internal actions to do it.

Here is an example replacing the `Go Back` action with a custom one which will removes all your items and replaces them each time, keeping the actions in place at the bottom.

[code]

[2021-02-05 18:36] JuGid commented on #243
This solved my problem ! Thank you !

[2021-02-05 18:36] #243 closed

[2021-02-05 23:27] vesper8 opened #244 "struggling to re-generate sub-menu dynamically"
I made a CLI menu for quick-saving and quick-loading inside of a game.

When I run the quick-save I'm prompted for a text input, and then a new file is generated.

Then when I choose the quick-load command, it opens a sub-menu and iterates over each file inside of a folder and creates sub-menu items. Upon clicking one then that file is copied somewhere.

My issue is that my list of "loadable" file

[2021-02-06 08:20] AydinHassan commented on #244
Hello, unfortunately that is not currently possible. You would have to customise a lot of the components to make that work.

I'd probably start with creating a new menu item and customise the select action: https://github.com/php-school/cli-menu/blob/7ba829ff6f6fa7c79b8677371890ead035214fe3/src/MenuItem/MenuMenuItem.php#L79

This is what is triggered when you "select" the item. Note that you will

[2021-02-06 10:47] vesper8 commented on #244
Thank you for the help! Sounds a bit daunting but at least you think it is possible? It would be a nice addition to cli-menu IMO. I may give it a crack

[2021-02-06 10:50] vesper8 commented on #244
@AydinHassan Could you perhaps say a few more words though about why this isn't currently possible, and what would need to change (what I would need to add) in order to make it possible?

Is it not possible only because I am dealing with a sub-menu?

[2021-02-06 10:56] AydinHassan commented on #244
@vesper8 each menu type (https://github.com/php-school/cli-menu/tree/master/src/MenuItem) has a method `getSelectAction` - in the case of normal selectable items, you provide the callable to be executed. In the case of submenu's the action is not customisable - it is closure which opens the menu, see my first link in the previous comment.

We could allow to specify a custom callback for when a sub

[2021-02-06 22:52] vesper8 commented on #244
Ok thanks for the clarification @AydinHassan

Before I decide whether I want to give this a shot, can you see an alternative way of achieving what I want to do with another type of menu item?

For me it really doesn't have to be a sub-menu.. The desired outcome is that upon clicking a menu item, I am given a list of freshly-generated options, and upon clicking any of those options, an action is im

[2021-02-07 14:06] AydinHassan commented on #244
@vesper8 no there is no other way

[2021-02-22 17:24] #244 closed

[2021-06-09 18:37] InterLinked1 opened #246 "Custom and auto mappings can't override default"
The default control mappings for keys includes "M" and "L" in the list, which prevents their being used for other purposes.

For instance, neither of the following works:

$menu->addCustomControlMapping('M', $myCallback);

->addItem('[M]ember List', $itemCallable2)

Rather than throwing an exception, this should allow the default behavior of that key to be overridden (or removed). The L/R function

[2021-06-09 18:55] AydinHassan commented on #246
hi @InterLinked1 you can use `disableDefaultControlMappings` or `setDefaultControlMappings` on `CliMenu` to remove the defaults and/or set your own.

[2021-06-09 19:13] InterLinked1 commented on #246
Okay, thanks, sorry, I could not find that in the documentation before.

It does seem though that per 244, it is not possible to create a menu that builds at runtime rather than all at once?
https://github.com/php-school/cli-menu/issues/244

For instance, if trying to set something up with lots of SQL to interact with a database, all the SQL tries to execute immediately when the menu is built, rat

[2021-06-09 19:19] AydinHassan commented on #246
No problem, it doesn't appear to be in the docs, but I kinda remembered something like it existed.

No that's not correct, menu item callable are only executed when the menu item is selected. That issue appears to be about performing an action when a sub menu (which is a specific type of menu item) is selected which is not possible.

[2021-06-09 19:22] AydinHassan commented on #246
Sorry I'm not following. Can you maybe show some example code?

[2021-06-09 19:26] InterLinked1 commented on #246
Like, say I wanted to generate a sub-menu with all members:

[code]

If I put that in a sub-menu, then this gets executed at build time, rather than when the submenu is accessed (if ever). If I had 20 of these, as soon as the menu is opened, all 20 queries fire at once. These DB queries are going across the Internet, so I don't want SQL queries being fired unless they are being used immediately.

[2021-06-09 19:29] AydinHassan commented on #246
Thanks for the example. Yes unfortunately that is not supported.

[2021-06-09 19:37] #246 closed

[2021-07-26 02:28] InterLinked1 commented on #246
To follow up on this, is there any way to use the menu to retrieve the value when an option is selected? Been trying to play around with that and struggling to find a way to do that. My thinking is perhaps I can just return to the parent PHP code and then spawn another menu and maybe work around this that way.

For instance, with the basic example:
$itemCallable = function (CliMenu $menu) {
    ec

[2021-07-26 06:55] AydinHassan commented on #246
You can do this a bunch of ways:

* Assign this to a variable which you `use` in your callable with a reference.
* Just do your "next" code inside the callable, wrapping it in a function maybe
* You can call `getSelectedItem` on the menu after you close it in your callable

[2021-07-26 06:56] AydinHassan commented on #246
eg

[code]

[2021-07-26 12:57] InterLinked1 commented on #246
Great, thank you!

This works well, though I've noticed some interesting behavior with the keyboard mappings when doing this. It seems that it will return whatever menu item was "selected" (like literally which one was highlighted), NOT which menu item was *chosen* to exit the menu. As an example:

$selectedItem = '';
function menuFlash($title) {
	$accessDenied = function (CliMenu $menu) {
		$flas

[2021-07-26 13:07] AydinHassan commented on #246
Yeah you're right that is not what you want, it is by design and is how the internals work.

You don't need to use a global though, you can just `use` a reference in your callable.

[2021-07-26 13:09] AydinHassan commented on #246
[code]

[2021-07-26 13:17] AydinHassan commented on #246
or even like this if you wish:

[code]

We are not providing these utils because it's just PHP code, you can do this however you want and it's not really necessary for us to impose restrictions

[2021-07-27 14:45] InterLinked1 commented on #246
Got it, yeah, saving it internally and returning it works well.
I've played around with this method and it works really well! I can now build dynamic menus by simply calling a new menu for each "thing", and intersperse with other PHP as needed.

Ran into a slight issue with the auto shortcuts, though and I tried following the steps at the top of this post but there seems to be an issue with orderi

[2021-07-27 14:54] AydinHassan commented on #246
Sorry I don't have a solution for you that doesn't require internal changes. Feel free to send a PR, maybe moving the control mappings up in to the builder.

[2021-07-27 14:57] InterLinked1 commented on #246
Yeah, it seemed like it would require code changes one way or another.
I think an easy fix might be a way to empty this array in the builder, before calling enableAutoShortcuts:

[code]

At this point, I think I will simply delete everything in this array in the code source, the quickest and easiest fix for me, since I have no use for any of these bindings. However, I agree an option would be nice

[2021-08-18 13:10] InterLinked1 commented on #246
All right, back with another question! This has all been working really well for me, thank you again for this project!

An issue I've encountered is on unsupported terminal types, this class simply throws an exception and crashes. What that means in my environment is the whole program just disappears.
What I would like to do is before trying to create a menu, use the isInteractive() public functio

[2021-10-21 14:37] ccsliinc opened #247 "Menu Dialog"
Looking through the code, the confirm dialog is not actually a confirmation. It has no return value, am i missing something or the way it currently is just another layer in which a user cannot back out? It seems like there is nothing I can do with a dialog other than click enter. You cant even escape out.

I am just asking to know if there is an alternative.

[2021-10-21 14:47] ccsliinc commented on #247
I was just trying to figure out if the user did not want to go through with the action what would they do. Even something as simple as hitting the escape key would allow them to exit the process. The only way I see it’s possible right now is if they actually exit the whole process itself. So for example if it was a confirm deletion dialogue and they accidentally hit it, then they have no way of ba

[2021-11-25 16:58] AydinHassan commented on #247
Fixed with #248

[2021-11-25 16:58] #247 closed

[2021-12-05 18:25] ccsliinc commented on #247
Is there any way you can add a point release to this PR. I use this but it's a requirement for another component. I'd like it to pull this release.

[2021-12-05 18:25] ccsliinc commented on #247
Is there any way you can add a point release to this PR. I use this but it's a requirement for another component. I'd like it to pull this release.

[2021-12-05 18:59] AydinHassan commented on #247
@ccsliinc [4.2.0](https://github.com/php-school/cli-menu/releases/tag/4.2.0)

[2021-12-06 13:51] ccsliinc commented on #247
@AydinHassan Thank you.

[2021-12-15 14:56] atomatis opened #249 "Menu blink because deprecated warning."
Hello,

Sorry by advence for my poor english.

I have a little blink before show menu, because many deprecated warning is write before like

`Deprecated: array_fill(): Passing null to parameter #2 ($count) of type int is deprecated in /Users/alexandre/Tools/krg-env/vendor/php-school/cli-menu/src/MenuStyle.php on line 672`

`PHP Deprecated:  str_repeat(): Passing null to parameter #2 ($times) of ty

[2021-12-16 09:24] AydinHassan commented on #249
Fixed with #252 - thanks for reporting!

[2021-12-16 09:24] #249 closed

[2021-12-16 09:24] AydinHassan commented on #249
Will tag a new release soon, just doing a bit of housekeeping

[2021-12-16 09:42] AydinHassan commented on #249
@atomatis tagged `4.3.0`

[2021-12-17 14:26] atomatis commented on #249
Great! TY :)

[2022-02-09 15:21] Renji-FR opened #255 "Terminal overflow and menu size"
I encountered an issue when my menu is bigger than my terminal:

https://user-images.githubusercontent.com/19191608/153231452-90b84923-f643-4c72-9ac0-5520246dea3a.mp4

Is it possible to print the console line number only for the menu?

I know I use `stty` binary to retrieve my terminal size:
[code]

[2022-06-09 20:13] loranger opened #256 "Checked checkbox"
Hi,

I cannot figure out how I can pre-check a checkbox when building a menu.
Is there a way to toggle some checkboxes on instanciation ?

[2022-06-09 20:36] AydinHassan commented on #256
You can construct an instance of `PhpSchool\CliMenu\Builder\CheckboxItem` manually, call `toggle` on it and then add it to the builder with `addMenuItem`

[2022-06-11 10:11] AydinHassan commented on #256
Feel free to reopen if you have any more questions

[2022-06-11 10:11] #256 closed

[2022-06-13 15:47] loranger commented on #256
Ok, no shorthand for checkbox, got it.
Thanks @AydinHassan

[2022-07-05 08:34] underdpt opened #257 "Windows compatibility: replace posix_isatty() with stream_isatty()"
Hello,

Giving it another try to check if there's a way to make this package windows compatible, i found [stream_isatty()](https://www.php.net/manual/en/function.stream-isatty.php) which is described on php documentation as a `posix_isatty()` replacement, and is windows compatible.

What do you think?

[2022-07-05 09:16] mikeymike commented on #257
Hey @underdpt

Sounds promising, I'm not 100% sure what else might need refactoring to support windows but I'd be interested to see if that gets over any initial hurdles. I have little to no experience with windows around this area so would welcome any assistance, prototyping etc

[2022-07-05 09:20] AydinHassan commented on #257
Also, looks like that function is only available in PHP 7.2, currently we support 7.1. I'm happy to drop support for 7.1 though. But as @mikeymike says, I don't think that will be last issue. In fact, we probably added that because we couldn't get it to work on windows.

[2022-07-13 08:22] simonovich opened #258 "Menu items and cp1251"
Hi!
My terminal works with Windows-1251 encoding. Everything looks fine as long as I don't use Cyrillic characters.

#### Problem:
- Menu items go out of window
[please, see the screenshot](https://yadi.sk/i/0gmtAeEV1vM3tw)

#### For reproduce

Slightly modified example code:
[code]

#### Expected
- All lines with Cyrillic characters in cp1251 encoding remain within the window.

===
Ubuntu 22.04 L

[2022-07-14 09:44] AydinHassan commented on #258
Thanks for the report. I can confirm it looks broken. Do you have any idea how to fix it?

[2022-07-14 11:21] simonovich commented on #258
I found the mb_strlen() call in the drawMenuItem() function and it gave me a solution to the problem.

It is necessary to specify php internal encoding before creating the menu:
[code]

I believe this is useful information for anyone using non-unicode menus.

[2022-07-14 15:23] AydinHassan commented on #258
Great - thanks for the solution!

Sent from my iPhone

On 14 Jul 2022, at 14:21, simonovich ***@***.***> wrote:

﻿

I found the mb_strlen() call in the drawMenuItem() function and it gave me a solution to the problem.

It is necessary to specify php internal encoding before creating the menu:

require_once(__DIR__ . '/../vendor/autoload.php');

mb_internal_encoding('cp1251'); // the fix

$itemCall

[2022-07-14 15:24] #258 closed

[2022-07-15 12:59] simonovich opened #259 "setPromptText - multiline support"
Can you please suggest how to make multiline text for promt?

The example below breaks the menu:
[code]
![Basic.php](https://downloader.disk.yandex.ru/preview/05ca4043f59f327f70da153fd46aee38dbe3c30be8d73fd683f0cf9bc7ac43c8/62d19c9e/fuUYa2cKTmx4zysHAQY-qZgdtnl3CtGZtlbzHElRKA_sy9VznZjtkJXyzSqtSeKDpqUAEK5gjlbGUvOWe1_3yA%3D%3D?uid=0&filename=2022-07-15_15-55-21.png&disposition=inline&hash=&limit=0&co

[2022-07-15 13:03] AydinHassan commented on #259
It appears it's not handled/supported

[2022-07-15 13:08] AydinHassan commented on #259
We will happily accept PR's but I don't imagine the maintainers will be working on it in the foreseeable future.

[2022-07-15 13:13] simonovich commented on #259
Es tut mir so leid )

[2022-08-02 11:22] simonovich opened #261 "PHPStorm - How to debug"
Traditionally, this project is debugged using the var_dump() function.
If we use xdebug we get an error.

Error reason: The program cannot get terminal parameters from the PHPStorm environment.

I propose a little hack:
[code]

Now you can work with the xdebug debugger, set breakpoints, and so on!

[2022-09-07 12:11] Zerogiven opened #262 "PHPUnit problem if first item is not a SelectableItem which calls ->close()"
Hi,

First of all thanks for the great work :)

Could you tell me why it is neccessary for phpunit to have a selectable item at first which closing the menu?

Cause this makes it a bit harder for me to test my class with your cli-menu implementation cause i am generating the menu items and i would like to test if it generates the correct items. Only for this reason i would have to make a tiny hack

[2022-09-07 12:22] AydinHassan commented on #262
That's how it works: CliMenu runs in an infinite loop waiting for input. In this example, the test, `testSimpleOpenClose` - we have one item in the menu, that when selected, will close the menu. We simulate and enter key press which triggers the action of the menu item and closes the menu.

CliMenu only executes code (actions) when items are selected. If no item is selected then no code can run an

[2022-09-07 12:45] Zerogiven commented on #262
Ahhh got it, sorry i had a misconception about the read mocking method :roll_eyes:
thanks anyway! now i know how i'll do it ;)

[2022-10-29 15:42] zhdanov opened #263 "Don't work setWidth() for MenuStyle"
Hello,

[code]

Colors works. Width not works.

[2022-10-29 20:29] mikeymike commented on #263
Hey @zhdanov, thanks for the report.

Could you supply an example that shows how you're using this?

We have some code examples in the src, `examples/basic-centered.php` is one which alters the width which I've played with to also alter colour etc like above but I couldn't recreate a scenario which didn't alter the width.

Thanks!

[2022-10-29 20:35] mikeymike commented on #261
Hey @simonovich thanks for opening a discussion about this... you're right this isn't immediately obvious how to run with xdebug.

We could supply an implementation of the Terminal interface that is purely for debugging, we could also detect a debugging environment and construct it with that terminal by default 🤔

Hopefully, I can get some time to look at this in more detail soon

[2022-10-30 06:04] zhdanov commented on #263
Hey @mikeymike , sure:

[code]

[2022-10-30 08:58] mikeymike commented on #263
Hey @zhdanov I've had a quick look over this and you're totally right the dialogues don't currently utilise the width set by the style. Instead, these are calculated dynamically based on the parents width, the dialogues content and the dialogue padding styles.

Using `setPaddingLeftRight` instead of `setWidth` may be a suitable solution to your problem. I'm going to keep this issue open though as

[2022-10-30 09:22] zhdanov opened #264 "askText() requires two presses of enter and cuts the line (during copy/paste)"
Hello, here is an example:

[code]

Copy and paste into dialog: "Lorem ipsum dolor sit amet".
[code]

[2022-10-30 09:24] zhdanov commented on #263
Hey @mikeymike thanks! setPaddingLeftRight() works fine!

[2022-10-31 09:38] AydinHassan commented on #264
Yeah this is a bug, seems like a duplicate of https://github.com/php-school/cli-menu/issues/165#issuecomment-418318941. Please feel free to continue the discussion there :)

[2022-10-31 09:38] #264 closed

[2022-10-31 13:20] ohot commented on #261
I've got the same issue with NetBeans/xdebug.

I don't manage to make the little hack from [simonovich](https://github.com/simonovich) to run properly.

[2022-10-31 15:52] AydinHassan commented on #261
IMO the best way to debug is to listen for debug connections in PHPStorm and run cli-menu like so: `XDEBUG_SESSION=1 php examples/basic.php`. That is assuming you are using Xdebug 3.